---
title: 'Protesilaos Stavrou'
layout: index
---

<div class="index index-blog">

	<p>This is my personal website: a place where you can read and learn
	a lot about a growing number of subjects.</p>

</div>

<div class="index index-blog">
	{% assign publications = site.documents | where: 'master', true | sort: 'date' | reverse %}

	<h2>Latest updates (across the website)</h2>

    <ul>
	{% for i in publications limit:10 %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ i.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ i.url | relative_url }}">
                <span class="index-blog-post-heading">{{ i.title }}</span>
                {% if i.mediaid or i.layout == 'vlog' %}
                <span class="index-blog-post-meta-label">[video]</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>

</div>

<div>
	{% assign indices = site.data.indices | sort: 'name' %}
	<h2>Main content indices</h2>

	<ul>
		{% for i in indices %}
			<li>
				<a href="{{ i.url | absolute_url }}">{{ i.name }}</a>
			</li>
		{% endfor %}
	</ul>

	<p>For the available RSS/Atom feeds, refer to the <a
	href="/feeds/">feeds info page</a>.</p>
</div>
