<footer class="footer">

	<div class="footer-block">
		<p>Copyright (c) 2011-{{ site.time | date: '%Y' }} Protesilaos Stavrou.	All original content is licensed under a free/libre <em>copyleft license</em> (GPL or CC BY-SA).  Read the notice about the <a rel="license" href="{{ '/license/' | prepend: site.url }}">license and resources</a>.</p>
	</div>

	<div class="footer-block">
		If you enjoy my work, consider <a href="https://www.paypal.me/protesilaos">donating via Paypal</a>
	</div>

</footer>
