<div class="footer-navigation-row">

	<div class="footer-navigation-column">
		<h6>Info</h6>

		{% assign infos = site.data.menu-footer-info %}

		<ul>
		{% for info in infos %}
			<li>
				<a href="{{ info.url | prepend: site.url }}">
					{{ info.name }}
				</a>
			</li>
		{% endfor %}
		</ul>

	</div>


	<div class="footer-navigation-column">
		<h6>English</h6>

		{% assign ens = site.data.menu-footer-english %}

		<ul>
		{% for en in ens %}
			<li>
				<a href="{{ en.url | prepend: site.url }}">
					{{ en.name }}
				</a>
			</li>
		{% endfor %}
		</ul>

	</div>


	<div class="footer-navigation-column">
		<h6>Ελληνικά</h6>

		{% assign els = site.data.menu-footer-greek %}

		<ul>
		{% for el in els %}
			<li>
				<a href="{{ el.url | prepend: site.url }}">
					{{ el.name }}
				</a>
			</li>
		{% endfor %}
		</ul>

	</div>


	<div class="footer-navigation-column">
		<h6>Code</h6>

		{% assign codes = site.data.menu-footer-code %}

		<ul>
		{% for code in codes %}
			<li>
				<a href="{{ code.url | prepend: site.url }}">
					{{ code.name }}
				</a>
			</li>
		{% endfor %}
		</ul>

	</div>

</div>
