{% assign themes = site.data.prot16 %}

{% for theme in themes %}
{% if page.permalink contains theme.url %}

<div style="font-family: monospace; font-size: 0.9em">

	<h4>Dark base</h4>
	<small style="{{ theme.palette.dbg | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.dbg }}</small>
	<small style="{{ theme.palette.dhl | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.dhl }}</small>
	<small style="{{ theme.palette.dt2 | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.dt2 }}</small>
	<small style="{{ theme.palette.dt1 | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.dt1 }}</small>
	<h4>Light base</h4>
	<small style="{{ theme.palette.lbg | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.lbg }}</small>
	<small style="{{ theme.palette.lhl | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.lhl }}</small>
	<small style="{{ theme.palette.lt2 | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.lt2 }}</small>
	<small style="{{ theme.palette.lt1 | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.lt1 }}</small>
	<h4>Accent values</h4>
	<small style="{{ theme.palette.red | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.red }}</small>
	<small style="{{ theme.palette.ora | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.ora }}</small>
	<small style="{{ theme.palette.gre | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.gre }}</small>
	<small style="{{ theme.palette.blu | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.blu }}</small>
	<br/>
	<small style="{{ theme.palette.mag | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.mag }}</small>
	<small style="{{ theme.palette.yel | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.yel }}</small>
	<small style="{{ theme.palette.cya | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.cya }}</small>
	<small style="{{ theme.palette.vio | prepend: 'color: #' }}">█</small> <small>{{ theme.palette.vio }}</small>

</div>

{% endif %}
{% endfor %}
