{% assign themes = site.data.prot16 %}

{% for theme in themes %}
{% if page.permalink contains theme.url %}

<div class="scheme-item-page-terminal">

    <div>
        <p>For {{ theme.name }}, the following terminal emulators are supported thus far:
            <ul>
                <li><a href="https://github.com/protesilaos/prot16/tree/master/{{ theme.name | downcase }}/urxvt">RXVT-Unicode (urxvt)</a></li>
                <li><a href="https://github.com/protesilaos/prot16/tree/master/{{ theme.name | downcase }}/xfce4-terminal">Xfce4 Terminal</a></li>
                <li><a href="https://github.com/protesilaos/prot16/tree/master/{{ theme.name | downcase }}/xterm">XTERM</a></li>
            </ul>
        </p>
    </div>

</div>

{% endif %}
{% endfor %}
