{% assign themes = site.data.tempus-themes %}

{% for i in themes %}
{% if page.permalink contains i.slug %}

<ul style="list-style-type: none; padding: 0; font-family: monospace; font-size: .9em">
	<li><span style="{{ i.col0 | prepend: 'color: #' }}">█</span> <span>&nbsp;0 = {{ i.col0 | prepend: '#' }}</span><span> = black</span></li>
	<li><span style="{{ i.col1 | prepend: 'color: #' }}">█</span> <span>&nbsp;1 = {{ i.col1 | prepend: '#' }}</span><span> = red</span></li>
	<li><span style="{{ i.col2 | prepend: 'color: #' }}">█</span> <span>&nbsp;2 = {{ i.col2 | prepend: '#' }}</span><span> = green</span></li>
	<li><span style="{{ i.col3 | prepend: 'color: #' }}">█</span> <span>&nbsp;3 = {{ i.col3 | prepend: '#' }}</span><span> = yellow</span></li>
	<li><span style="{{ i.col4 | prepend: 'color: #' }}">█</span> <span>&nbsp;4 = {{ i.col4 | prepend: '#' }}</span><span> = blue</span></li>
	<li><span style="{{ i.col5 | prepend: 'color: #' }}">█</span> <span>&nbsp;5 = {{ i.col5 | prepend: '#' }}</span><span> = magenta</span></li>
	<li><span style="{{ i.col6 | prepend: 'color: #' }}">█</span> <span>&nbsp;6 = {{ i.col6 | prepend: '#' }}</span><span> = cyan</span></li>
	<li><span style="{{ i.col7 | prepend: 'color: #' }}">█</span> <span>&nbsp;7 = {{ i.col7 | prepend: '#' }}</span><span> = white</span></li>
	<li><span style="{{ i.col8 | prepend: 'color: #' }}">█</span> <span>&nbsp;8 = {{ i.col8 | prepend: '#' }}</span><span> = bright black</span></li>
	<li><span style="{{ i.col9 | prepend: 'color: #' }}">█</span> <span>&nbsp;9 = {{ i.col9 | prepend: '#' }}</span><span> = bright red</span></li>
	<li><span style="{{ i.col10 | prepend: 'color: #' }}">█</span> <span>10 = {{ i.col10 | prepend: '#' }}</span><span> = bright green</span></li>
	<li><span style="{{ i.col11 | prepend: 'color: #' }}">█</span> <span>11 = {{ i.col11 | prepend: '#' }}</span><span> = bright yellow</span></li>
	<li><span style="{{ i.col12 | prepend: 'color: #' }}">█</span> <span>12 = {{ i.col12 | prepend: '#' }}</span><span> = bright blue</span></li>
	<li><span style="{{ i.col13 | prepend: 'color: #' }}">█</span> <span>13 = {{ i.col13 | prepend: '#' }}</span><span> = bright magenta</span></li>
	<li><span style="{{ i.col14 | prepend: 'color: #' }}">█</span> <span>14 = {{ i.col14 | prepend: '#' }}</span><span> = bright cyan</span></li>
	<li><span style="{{ i.col15 | prepend: 'color: #' }}">█</span> <span>15 = {{ i.col15 | prepend: '#' }}</span><span> = bright white</span></li>
</ul>

<h3>Base values</h3>
Background: <span style="{{ i.colbg | prepend: 'color: #' }}">█</span> {{ i.colbg | prepend: '#' }}<br/>
Background-alt: <span style="{{ i.colbgalt | prepend: 'color: #' }}">█</span> {{ i.colbgalt | prepend: '#' }}<br/>
Foreground: <span style="{{ i.colfg | prepend: 'color: #' }}">█</span> {{ i.colfg | prepend: '#' }}<br/>
Foreground-alt: <span style="{{ i.colfgalt | prepend: 'color: #' }}">█</span> {{ i.colfgalt | prepend: '#' }}<br/>
Cursor: <span style="{{ i.colcr | prepend: 'color: #' }}">█</span> {{ i.colcr | prepend: '#' }}<br/>

{% endif %}
{% endfor %}
