:root {
    --prot-col-black:        #000000;
    --prot-col-black-alt:    #505050;
    --prot-col-red:          #a60000;
    --prot-col-red-alt:      #972500;
    --prot-col-green:        #005e00;
    --prot-col-green-alt:    #145c33;
    --prot-col-yellow:       #813e00;
    --prot-col-yellow-alt:   #863927;
    --prot-col-blue:         #0000bb;
    --prot-col-blue-alt:     #223fbf;
    --prot-col-magenta:      #721045;
    --prot-col-magenta-alt:  #5317ac;
    --prot-col-cyan:         #00538b;
    --prot-col-cyan-alt:     #005a5f;
    --prot-col-white-alt:    #f0f0f0;
    --prot-col-white:        #ffffff;
    --prot-col-calm:         #61284f;
    --prot-col-cold:         #093060;
    --prot-col-mild:         #184034;
    --prot-col-warm:         #5d3026;
    --prot-col-bgdim:        #f8f8f8;
    --prot-col-brandbg:      #ebebeb;
    --prot-col-brandfg:      #424242;
    --prot-col-brandlink:    #002f40;
    --prot-col-basebg:             var(--prot-col-white);
    --prot-col-basebgalt:          var(--prot-col-white-alt);
    --prot-col-basefg:             var(--prot-col-black);
    --prot-col-basefgalt:          var(--prot-col-black-alt);
    --prot-col-baselinkfg:         var(--prot-col-blue);
    --prot-col-baselinkfgalt:      var(--prot-col-cyan);
    --prot-col-baselinkfghover:    var(--prot-col-blue-alt);
    --prot-col-baselinkfgalthover: var(--prot-col-cyan-alt);
    --prot-col-inlinecodebg:       var(--prot-col-basebgalt);
    --prot-col-inlinecodefg:       var(--prot-col-basefg);
    --prot-col-codeblockbg:        var(--prot-col-bgdim);
    --prot-col-codeblockfg:        var(--prot-col-basefg);
    --prot-col-notifyinfo:         var(--prot-col-blue);
    --prot-col-notifynote:         var(--prot-col-green);
    --prot-col-notifywarn:         var(--prot-col-yellow);
    --prot-col-notifycrit:         var(--prot-col-red);
}

@media (prefers-color-scheme: dark) {
    :root {
        --prot-col-black:        #000000;
        --prot-col-black-alt:    #181a20;
        --prot-col-red:          #ff8059;
        --prot-col-red-alt:      #f4923b;
        --prot-col-green:        #44bc44;
        --prot-col-green-alt:    #00cd68;
        --prot-col-yellow:       #eecc00;
        --prot-col-yellow-alt:   #f0ce43;
        --prot-col-blue:         #00bdfa;
        --prot-col-blue-alt:     #72a4ff;
        --prot-col-magenta:      #feacd0;
        --prot-col-magenta-alt:  #b6a0ff;
        --prot-col-cyan:         #00d3d0;
        --prot-col-cyan-alt:     #6ae4b9;
        --prot-col-white-alt:    #a8a8a8;
        --prot-col-white:        #ffffff;
        --prot-col-calm:         #fbd6f4;
        --prot-col-cold:         #c6eaff;
        --prot-col-mild:         #bfebe0;
        --prot-col-warm:         #f8dec0;
        --prot-col-bgdim:        #110b11;        
        --prot-col-brandbg:      #121212;
        --prot-col-brandfg:      #b2a2a2;
        --prot-col-brandlink:    #c8d4df;
        --prot-col-basebg:    var(--prot-col-black);
        --prot-col-basebgalt: var(--prot-col-black-alt);
        --prot-col-basefg:    var(--prot-col-white);
        --prot-col-basefgalt: var(--prot-col-white-alt);
    }
}

html {
    @include desktop {
        font-size: $base-font-size + 4;
    }

    font-family: sans-serif;
    font-size: $base-font-size;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

body {
    background-color: var(--prot-col-basebg);
    color: var(--prot-col-basefg);
    font-family: $font-family-body;
    line-height: $line-height;
    margin: 0;
    word-wrap: break-word;
}

hr {
    background: var(--prot-col-basefgalt);
    display: block;
    border: 0;
    width: 100%;
    height: 1px;
    margin: $vertical-rhythm-1 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-heading;
    line-height: $heading-line-height;
    padding: 0;
    margin-bottom: $space-0;
}

h1,
.h1 {
    font-size: $xxxlsize;
    font-weight: 700;
}

h2,
.h2 {
    font-size: $xxlsize;
    font-weight: 700;
    color: var(--prot-col-warm);
}

h3,
.h3 {
    font-size: $xlsize;
    font-weight: 700;
    color: var(--prot-col-cold);
}

h4,
.h4 {
    font-size: $lsize;
    font-weight: 700;
    color: var(--prot-col-mild);
}

h5,
.h5 {
    font-size: $lsize;
    font-weight: 700;
    color: var(--prot-col-calm);
}

h6,
.h6 {
    font-size: $msize;
    font-weight: 700;
    color: var(--prot-col-basefgalt);
}

p {
    margin: 0 0 $vertical-rhythm-0;
    padding: 0;
}

b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

blockquote {
    @include tablet {
        padding-left: $vertical-rhythm-1;
    }

    @include desktop {
        padding-left: $vertical-rhythm-2;
    }

    margin: 0;
    padding-left: $vertical-rhythm-0;
}

ul,
ol {
    margin: 0 0 $vertical-rhythm-0;
    padding: 0 0 0 $vertical-rhythm-0;
}

pre,
code,
samp {
    font-family: $font-family-code;
}

pre {
    background: var(--prot-col-codeblockbg);
    color: var(--prot-col-codeblockfg);
    font-size: $ssize;
    margin: $vertical-rhythm-0 0;
    padding: $space-1;
    padding-left: $vertical-rhythm-0;
    white-space: pre;
    overflow-x: auto;
    word-break: normal;
    word-wrap: inherit;
    border-top: 5px solid var(--prot-col-basebgalt);
    border-bottom: 5px solid var(--prot-col-basebgalt);
}

table {
    @include tablet {
        margin: $vertical-rhythm-1 0;
    }

    margin: $vertical-rhythm-0 0;
}

figure {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

small {
    font-size: $xssize;
}

abbr[title] {
    border-bottom: 1px dotted;
    text-decoration: none;
    cursor: help;
}

sub,
sup {
    font-size: 85%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

time {
    font-variant: tabular-nums;
}

dt {
    font-weight: 700;
}
