// This class is defined by kramdown.  Note that `.footnote a` styles
// are defined in `_sass/_links.scss` because of some exceptions that
// render them broader in scope than this partial stylesheet.
.footnote,
.footref {
    // this is a workaround until kramdown offers an option to place
    // footnotes links as in inline `span` instead of a `sup`
    &::before {
        content: '[';
        display: inline;
    }

    &::after {
        content: ']';
        display: inline;
    }
}

// this is the class for the footnotes section at the end of the post
h2.footnotes {
    font-size: $msize;
    margin: $space-1 0;
    padding: $space-1 0;
}

.footnotes {
    font-size: $ssize;
    margin: $vertical-rhythm-2 0 0;
    padding: $vertical-rhythm-0 0 0;
    border-top: 1px dotted var(--prot-col-basefgalt);

    p {
        margin-bottom: $space-0;
    }
}

.footnum {
    font-size: 100%;

    &::before {
        content: '[^';
        display: inline;
    }

    &::after {
        content: ']';
        display: inline;
    }
}
