.index-header-meta {
    @include desktop {
        margin: $vertical-rhythm-1 0;
    }

    margin: $vertical-rhythm-0 0;
}

.index-rss {
    display: block;
}

.index-rss-feed-text {
    margin-right: $space-0 / 2;
}

.index-rss-feed-label {
    color: var(--prot-col-red);

    .index-rss-feed-text:hover &,
    .index-rss-feed-text:focus & {
        color: inherit;
    }
}

.index-rss-feed-text-help { // the "What is this?", which is <small>
    font-style: italic;
    margin-left: $space-0;
}

// Index content styles
// ====================
.index-blog {
    margin-bottom: $vertical-rhythm-1;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            + li {
                margin-top: $space-1;
            }
        }
    }

    article + article {
        @include desktop {
            margin-top: $vertical-rhythm-2;
        }

        margin-top: $vertical-rhythm-1;
    }
}

.index-blog-post-container {
    @extend %clearfix;
}

.index-blog-post-timestamp {
    @include tablet {
        display: table-cell;
        padding: 0 $space-1 0 0;
        margin: 0;
        min-width: 6em;
    }

    color: var(--prot-col-basefgalt);
    display: inline;
    margin: 0 $space-0 0 0;
}

.index-blog-post-link {
    @include tablet {
        display: table-cell;
    }

    display: inline;
}

// Used in posts index to display label e.g. 'Seminar', 'Book'
.index-blog-post-meta-label {
    color: var(--prot-col-yellow-alt);

    .index-blog-post-link:hover &,
    .index-blog-post-link:focus & {
        color: inherit;
    }
}

.index-blog-section-heading {
    @include tablet {
        margin-top: $vertical-rhythm-1;
    }

    padding-bottom: $space-0;
    margin-bottom: $vertical-rhythm-0;
    border-bottom: 1px dashed var(--prot-col-basefgalt);
}

// Used to display a prominent message in the posts' array
.index-notice-card {
    @include tablet {
        margin-top: $vertical-rhythm-2;
    }

    @include desktop {
        margin-top: $vertical-rhythm-3;
    }

    font-family: $font-family-ui;
    font-size: $ssize;
    padding: $space-1;
    margin-top: $vertical-rhythm-1;
    border: 1px solid var(--prot-col-notifyinfo);
    border-left: 10px solid var(--prot-col-notifyinfo);
}

// The "all posts" button
.index-blog-redirection-button {
    @extend %button;

    @include tablet {
        margin-top: $vertical-rhythm-2;
    }

    margin-top: $vertical-rhythm-1;
}

// Indices that require flexible layouts
// =====================================
.index-flex {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
}

// NOTE this may require further tweaks.  It currently works for the
// Tempus themes and Prot16 index pages.
.index-flex-item {
    @include tablet {
        flex-basis: calc(100% / 3);
    }

    @include desktop {
        flex-basis: calc(100% / 4);
    }

    flex-basis: calc(100% / 2);
    flex-grow: 0; // Set to 1 to fill in empty space.  Creates an asymmetric layout.
    margin-bottom: $vertical-rhythm-0;
}
