// Scale and measures
// ==================

// Ratio is X * 1.125 for the small sizes and 1.2 for the rest
// NOTE responsive font sizes under mixins section
$xxxlsize: 2.073rem;
$xxlsize: 1.728rem;
$xlsize: 1.44rem;
$lsize: 1.2rem;
$msize: 1rem;
$ssize: 0.889rem;
$xssize: 0.79rem;
$xxssize: 0.702rem;

// Space
// -----

// White space
$space-0: 0.5rem;
$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;

// Typographic spacing
$base-font-size: 16px; // The de facto standard is 16px
$line-height: 1.44; // Equal to $xlsize
$heading-line-height: 1.2; // Equal to $lsize
$vertical-rhythm-0: #{$line-height}rem;
$vertical-rhythm-1: #{$line-height * 1.5}rem;
$vertical-rhythm-2: #{$line-height * 2.5}rem;
$vertical-rhythm-3: #{$line-height * 3.5}rem;

// Page measure
$measure: 34rem;
$measure-l: $measure + 8;
$measure-xl: $measure-l + 18;

// Viewports
$tablet: 44.375em;
$desktop: 75em;
$desktop-large: 90em;

// Typography
// ==========

// Font stacks
// -----------
$font-stack-sans: 'Noto Sans', sans-serif;
$font-stack-serif: 'Noto Serif', serif;
$font-stack-mono: Hack, 'DejaVu Sans Mono', 'Source Code Pro', monospace;

$font-family-body: $font-stack-sans;
$font-family-heading: $font-stack-serif;
$font-family-ui: $font-stack-sans;
$font-family-code: $font-stack-mono;

// Functions
// =========

// Mixins
// ------

@mixin tablet {
    @media screen and (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop-large {
    @media screen and (min-width: #{$desktop-large}) {
        @content;
    }
}

@mixin fluid-width-measure {
    @include desktop {
        max-width: $measure-l;
    }

    @include desktop-large {
        max-width: $measure-xl;
    }

    display: block;
    max-width: $measure;
    margin: 0 auto;
}

// Global placeholders
// Placeholders are normally defined within the stylesheet => DRY
// --------------------------------------------------------------
%clearfix {
    &::before {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

%button {
    a {
        display: inline-block;
        color: var(--prot-col-baselinkfg);
        padding: $space-0 $space-1;
        border: 1px solid var(--prot-col-baselinkfg);

        &:hover,
        &:focus {
            background: var(--prot-col-baselinkfghover);
            color: var(--prot-col-basebg);
            border-color: var(--prot-col-baselinkfghover);
        }
    }
}
