---
layout: index
title: "Little Guide to the European Union"
subtitle: "On the specifics of the European polity"
excerpt: "An in-depth examination of European politics and the European integration process."
permalink: /euguide/
breadcrumbs: true
---

{% assign euguides = site.books | where: "flag", "euguide" %}

<div class="index index-blog">

    <div class="books-meta">

        <p>Published: <strong>{{ site.data.text.euguide.datefull }}</strong><br/>Book version: <strong>{{ site.data.text.euguide.version }}</strong></p>

    </div>

    <h2 class="index-blog-section-heading">Contents</h2>

    <div>

        <ul>
        {% for euguide in euguides %}
            <li>
                <a class="index-blog-post-heading" href="{{ euguide.url | relative_url }}">{{ forloop.index }}. {{ euguide.title }}</a>
                <p class="index-blog-post-excerpt">{{ euguide.excerpt }}</p>
            </li>
        {% endfor %}
        </ul>

    </div>

</div>
