---
layout: index
title: "Prot's Dots For Debian"
subtitle: "Complete guide to using my dotfiles on Debian 10 'buster'"
excerpt: "A free web based book that offers a guide to using my dotfiles on Debian 10 'buster'."
permalink: /pdfd/
breadcrumbs: true
---

{% assign pdfds = site.books | where: 'flag', 'pdfd' %}

<div class="index index-blog">

    <div class="books-meta">

        <p>Published: <strong>{{ site.data.text.pdfd.datefull }}</strong><br/>Book version: <strong>{{ site.data.text.pdfd.version }}</strong></p>

    </div>
    
    <h2 class="index-blog-section-heading">Contents</h2>

    <div>

        <ul>
        {% for pdfd in pdfds %}
            <li>
                <a class="index-blog-post-heading" href="{{ pdfd.url | relative_url }}">{{ forloop.index }}. {{ pdfd.title }}</a>
                <p class="index-blog-post-excerpt">{{ pdfd.excerpt }}</p>
            </li>
        {% endfor %}
        </ul>

    </div>

</div>
