---
layout: index
title: "Blog Archive"
subtitle: "Archive of my political writings, including the deprecated EU-focused blog."
excerpt: "Archive of my political writings, including the deprecated EU-focused blog."
index-feed:
  text: Political writings
  url: "/politics.xml"
permalink: /blog-archive/
---
{% assign archives = site.archive | sort: 'date' | reverse %}

<div class="index index-blog">

    <p class="warn index-notification">This section contains older posts. To view the most recent ones, refer to the <a href="/politics/">main politics blog</a>.</p>

    <ul>
    {% for archive in archives %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ archive.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ archive.url | relative_url }}">
                <span class="index-blog-post-heading">{{ archive.title }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>

</div>
