---
layout: index
permalink: /books/
title: "Books and standalone publications"
excerpt: "Index of the books published on protesilaos.com. These are free of charge."
---

{% assign books = site.data.books | sort: 'date' | reverse %}

<div class="index index-blog">
    <ul>
    {% for book in books %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ book.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ book.url | relative_url }}">
                <span class="index-blog-post-heading">{{ book.title }}</span>
                {% if book.book %}
                <span class="index-blog-post-meta-label">[book]</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

<p class="index-notice-card">Updates about new publications are posted in the <a href="https://protesilaos.com/news/">news section</a>.</p>
