---
layout: index
title: "Coding blog"
subtitle: "My experiences from the world of GNU/Linux"
excerpt: "Writings or screen casts about code, free software, and my experience with GNU/Linux."
index-feed:
  text: Code Blog
  url: "/codelog.xml"
permalink: /codelog/
---
{% assign codelogs = site.codelog | sort: 'date' | reverse %}

<div class="index index-blog">

    <ul>
    {% for codelog in codelogs %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ codelog.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ codelog.url | relative_url }}">
                <span class="index-blog-post-heading">{{ codelog.title }}</span>
                {% if codelog.mediaid or codelog.layout == 'vlog' %}
                <span class="index-blog-post-meta-label">[video]</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>

    <div class="button index-blog-redirection-button">
        <a href="/codelog-archive/">Entire Code blog archive</a>
    </div>
</div>
