---
layout: index
title: "Free software projects"
subtitle: "Experiences from the world of GNU/Linux"
excerpt: "Includes my colour schemes, my coding blog, and related items."
permalink: /code/
---

{% assign codelogs = site.codelog | sort: 'date' | reverse %}

<div class="index index-blog">

    <h2 class="index-blog-section-heading">Coding blog</h2>

    <ul>
    {% for codelog in codelogs limit:6 %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ codelog.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ codelog.url | relative_url }}">
                <span class="index-blog-post-heading">{{ codelog.title }}</span>
                {% if codelog.mediaid or codelog.layout == 'vlog' %}
                <span class="index-blog-post-meta-label">[video]</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>

    <div class="button index-blog-redirection-button">
        <a href="/codelog/">All code blog entries</a>
    </div>

</div>

<div class="index index-blog">

	<h2 class="index-blog-section-heading">Tempus themes project</h2>

	<p>
		{{ site.data.text.tempus.description }}
	</p>

	<div class="index-flex">
	{% assign schemes = site.data.tempus-themes | sort: 'name' %}
	{% for scheme in schemes %}
		<div class="index-flex-item">
			<a class="index-blog-post-heading" href="{{ scheme.slug | prepend: '/' }}">
				{{ scheme.name }}
			</a>

			<div style="letter-spacing: -1px">
				<small style="{{ scheme.col0  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col1  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col2  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col3  | prepend: 'color: #' }}">███</small>
				<br/>
				<small style="{{ scheme.col4  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col5  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col6  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col7  | prepend: 'color: #' }}">███</small>
				<br/>
				<small style="{{ scheme.col8  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col9  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col10 | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col11 | prepend: 'color: #' }}">███</small>
				<br/>
				<small style="{{ scheme.col12 | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col13 | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col14 | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col15 | prepend: 'color: #' }}">███</small>
			</div>
		</div>
	{% endfor %}
	</div>

</div>

<div class="index index-blog">

	<h2 class="index-blog-section-heading">Prot16 syntax themes</h2>

	<p> <em>Prot16</em> is a collection of colour schemes following the
	design philosophy of Ethan Schoonover's <em>Solarized</em>. Each
	scheme consists of 8 base values, divided by two groups into 'light'
	and 'dark', plus 8 accent values which remain constant across light
	and dark variations of an applied theme. The idea is to easily
	transition from light to dark while retaining the same feel. The
	accents are variants of red, orange, yellow, green, cyan, blue,
	violet, and magenta.</p>

	<p>This is an older, albeit perfectly stable, project of mine. For
	my latest endeavour on the matter, check the <a
	href="/tempus-themes/">Tempus themes</a>.  </p>

	<div class="index-flex">
	{% assign schemes = site.data.prot16 | sort: 'name' %}
	{% for scheme in schemes %}
		<div class="index-flex-item">
			<a class="index-blog-post-heading" href="{{ scheme.url | prepend: '/' }}">
				{{ scheme.name }}
			</a>

			<div style="letter-spacing: -1px">
				<small style="{{ scheme.palette.dbg  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.dhl  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.dt2  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.dt1  | prepend: 'color: #' }}">███</small>
				<br/>
				<small style="{{ scheme.palette.lbg  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.lhl  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.lt2  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.lt1  | prepend: 'color: #' }}">███</small>
				<br/>
				<small style="{{ scheme.palette.red | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.ora | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.yel | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.gre | prepend: 'color: #' }}">███</small>
				<br/>
				<small style="{{ scheme.palette.cya | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.blu | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.vio | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.mag | prepend: 'color: #' }}">███</small>
			</div>
		</div>
	{% endfor %}
	</div>

</div>

<div class="index index-blog">

    <h2 class="index-blog-section-heading">Links to external code repos</h2>

	{% assign gitprojects = site.data.gitprojects | sort: 'name' %}
	<ul>
	{% for gitproject in gitprojects %}
		<li>
			<a href="{{ gitproject.url }}">{{ gitproject.name }}</a> ({{ gitproject.host }} | {{ gitproject.status }}). <span>{{ gitproject.description }}</span>
		</li>
	{% endfor %}
	</ul>

</div>
