---
layout: index
title: "Code Casts"
subtitle: "Videos of free software projects I am working on"
excerpt: "In these screen casts I demonstrate some of the free software projects I am working on."
index-feed:
  text: Code Blog
  url: "/codelog.xml"
permalink: /code-casts/
---
{% assign codelogs = site.codelog | where: 'layout', 'vlog' | sort: 'date' | reverse %}

<div class="index index-blog">

    <ul>
    {% for codelog in codelogs %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ codelog.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ codelog.url | relative_url }}">
                <span class="index-blog-post-heading">{{ codelog.title }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>

    <div class="button index-blog-redirection-button">
        <a href="/codelog/">Entire Code blog</a>
    </div>
</div>
