---
layout: index
title: "Συζητήσεις και διαλόγοι"
excerpt: "Σελίδα με όλες τις οπτικοακουστικές συζητήσεις σε θέματα πολιτικής θεωρίας και πρακτικής."
index-feed:
  text: Άρθρα στα Ελληνικά
  url: "/greek.xml"
permalink: /greek-discussions/
---

{% assign discussions = site.greek | where: 'flag', 'discussion' | sort: 'date' | reverse %}

<div class="index index-blog">

    <p class="info index-notification">
        Για όλα μου τα άρθρα στα ελληνικά δείτε το <a href="/greek/">ιστολόγιο</a>.
    </p>

    <ul>
        {% for discussion in discussions %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ discussion.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ discussion.url | relative_url }}">
                <span class="index-blog-post-heading">{{ discussion.title }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>

	<div class="index-notice-card index-notification">
		{{ site.data.text.greek.distribution }}
	</div>
</div>
