---
layout: index
title: "Παρουσιάσεις και σεμινάρια"
subtitle: "Οπτικοακουστικές αναλύσεις σε θέματα πολιτικής θεωρίας και πρακτικής."
excerpt: "Σελίδα με όλες τις οπτικοακουστικές αναλύσεις σε θέματα πολιτικής θεωρίας και πρακτικής."
index-feed:
  text: Άρθρα στα Ελληνικά
  url: "/greek.xml"
permalink: /greek-seminars/
---

{% assign seminars = site.greek | where: 'flag', 'seminar' | sort: 'date' | reverse %}

<div class="index index-blog">

    <p class="info index-notification">
        Για όλα μου τα άρθρα στα ελληνικά δείτε το <a href="/greek/">ιστολόγιο</a>.
    </p>

    <ul>
        {% for seminar in seminars %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ seminar.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ seminar.url | relative_url }}">
                <span class="index-blog-post-heading">{{ seminar.title }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>

	<div class="index-notice-card index-notification">
		{{ site.data.text.greek.distribution }}
	</div>
</div>
