---
layout: index
title: "Αρθρογραφία στα ελληνικά"
subtitle: "Αναρτήσεις πολιτικού περιεχομένου"
excerpt: "Συλλογή των άρθρων μου στην ελληνική."
index-feed:
  text: Ροή δεδομένων
  url: "/greek.xml"
permalink: /greek/
---

{% assign greeks = site.greek | sort: 'date' | reverse %}

<div class="index index-blog">

    <ul>
    {% for greek in greeks %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ greek.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ greek.url | relative_url }}">
                <span class="index-blog-post-heading">{{ greek.title }}</span>
                {% if greek.mediaid %}
				<span class="index-blog-post-meta-label">[βίντεο]</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>

	<div class="index-notice-card index-notification">
		{{ site.data.text.greek.distribution }}
	</div>

</div>
