---
layout: index
title: "Ατάκες και αστειϊσμοί"
subtitle: "Ανέκδοτα της καθημερινότητας μου"
excerpt: "Συλλογή από ατάκες, λογοπαίγνια, αστειϊσμούς, αληθινά ανέκδοτα της καθημερινότητας μου."
permalink: /jokes/
---

<p>
  Στην ενότητα αυτή θα βρείτε κάποια από τα λογοπαίγνια ή ατάκες που λέω
  εγώ ή αστείες καταστάσεις τις οποίες έχω βιώσει (αναφέρω σχετικά).
  Δεν τα γράφω όλα γιατί είναι πολλά και τα ξεχνάω.  Επίσης έχει κάποια
  που είναι άκρως ακατάλληλα.  Βέβαια κάποια που έχω εδώ είναι λίγο
  «πικάντικα», οπότε προσοχή.  Θα αναρτώ αυτά που μπορώ όταν προκύπτουν
  ή μου έρχονται στη μνήμη.  Οι ημερομηνίες είναι πάντα κατά προσέγγιση.
</p>

<hr>

{% assign jokes = site.jokes | sort: 'date' | reverse %}

<div class="index">

  {% for joke in jokes %}
  <article class="post">

	<div>
	  <h2>{{ joke.title }}</h2>

	  {% if joke.subtitle %}
	  <h4 class="subtitle">{{ joke.subtitle }}</h4>
	  {% endif %}
	  <div class="post-header-meta">
	  	<time datetime="{{ joke.date | date_to_xmlschema }}">
		  <a href="{{ joke.url | relative_url }}">
			{{ joke.date | date: site.date_format }}
		  </a>
		</time>
	  </div>
	</div>

	<div>
	  {{ joke.content }}
	</div>

  </article>
  {% endfor %}

  <div class="index-notice-card index-notification">
	{{ site.data.text.greek.distribution }}
  </div>

</div>
