---
layout: page
title: 'Modus Themes (Modus Operandi and Modus Vivendi)'
subtitle: 'Accessible themes for GNU Emacs, conforming with the highest accessibility standard for colour contrast between background and foreground values (WCAG AAA)'
excerpt: "The Modus themes for Emacs meet the highest accessibility standard for colour contrast. Good for readability."
permalink: /modus-themes/
---

<p>
This manual, written by Protesilaos Stavrou, describes the customisation
options for the <code>modus-operandi</code> and <code>modus-vivendi</code> themes, and provides
every other piece of information pertinent to them.  The document
corresponds to version 0.13.0, expected to be released in
late September 2020.  As such, the present entry should be considered a
work-in-progress.
</p>

<p>
Copyright (C) 2020 Free Software Foundation, Inc.
</p>

<blockquote>
<p>
Permission is granted to copy, distribute and/or modify this
document under the terms of the GNU Free Documentation License,
Version 1.3 or any later version published by the Free Software
Foundation; with no Invariant Sections, with no Front-Cover Texts,
and with no Back-Cover Texts.
</p>
</blockquote>

<p>
<a href="https://protesilaos.com/modus-themes">Info manual HTML version</a>.
</p>

<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#h:f0f3dbcb-602d-40cf-b918-8f929c441baf">1. Overview</a>
<ul>
<li><a href="#h:69b92089-069c-4ba1-9d94-cc3415fc4f87">1.1. How do the themes look like</a></li>
</ul>
</li>
<li><a href="#h:1af85373-7f81-4c35-af25-afcef490c111">2. Installation</a>
<ul>
<li><a href="#h:c4b10085-149f-43e2-bd4d-347f33aee054">2.1. Install from the archives</a></li>
<li><a href="#h:da640eb1-95dd-4e86-bb4e-1027b27885f0">2.2. Install on GNU/Linux</a>
<ul>
<li><a href="#h:7e570360-9ee6-4bc5-8c04-9dc11418a3e4">2.2.1. Debian 11 Bullseye</a></li>
<li><a href="#h:a4ca52cd-869f-46a5-9e16-4d9665f5b88e">2.2.2. GNU Guix</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#h:3f3c3728-1b34-437d-9d0c-b110f5b161a9">3. Enable and load</a>
<ul>
<li><a href="#h:1777c247-1b56-46b7-a4ce-54e720b33d06">3.1. Load automatically</a></li>
<li><a href="#h:4e936e31-e9eb-4b50-8fdd-45d827a03cca">3.2. Load at a given time or at sunset/sunrise</a></li>
<li><a href="#h:2a0895a6-3281-4e55-8aa1-8a737555821e">3.3. Toggle between the themes on demand</a></li>
<li><a href="#h:a897b302-8e10-4a26-beab-3caaee1e1193">3.4. Configure options prior to loading</a></li>
</ul>
</li>
<li><a href="#h:bf1c82f2-46c7-4eb2-ad00-dd11fdd8b53f">4. Customisation Options</a>
<ul>
<li><a href="#h:b25714f6-0fbe-41f6-89b5-6912d304091e">4.1. Bold constructs</a></li>
<li><a href="#h:977c900d-0d6d-4dbb-82d9-c2aae69543d6">4.2. Slanted constructs</a></li>
<li><a href="#h:741379fe-7203-4dad-a7f8-ab71f61b43e6">4.3. Syntax highlighting</a></li>
<li><a href="#h:db5a9a7c-2928-4a28-b0f0-6f2b9bd52ba1">4.4. Command prompts</a></li>
<li><a href="#h:27943af6-d950-42d0-bc23-106e43f50a24">4.5. Mode line</a></li>
<li><a href="#h:f1c20c02-7b34-4c35-9c65-99170efb2882">4.6. Completion UIs</a></li>
<li><a href="#h:1983c3fc-74f6-44f3-b917-967c403bebae">4.7. Fringes</a></li>
<li><a href="#h:1dba1cfe-d079-4c13-a810-f768e8789177">4.8. Line highlighting</a></li>
<li><a href="#h:e66a7e4d-a512-4bc7-9f86-fbbb5923bf37">4.9. Matching parentheses</a></li>
<li><a href="#h:ea7ac54f-5827-49bd-b09f-62424b3b6427">4.10. Diffs</a></li>
<li><a href="#h:b7e328c0-3034-4db7-9cdf-d5ba12081ca2">4.11. Org mode blocks</a></li>
<li><a href="#h:61b65cff-cc37-4c69-91d7-f818293139a0">4.12. Accented headings</a></li>
<li><a href="#h:7649e1b4-7b1d-41bc-aebd-fdae585212d9">4.13. Section headings</a></li>
<li><a href="#h:075eb022-37a6-41a4-a040-cc189f6bfa1f">4.14. Scaled headings</a>
<ul>
<li><a href="#h:6868baa1-beba-45ed-baa5-5fd68322ccb3">4.14.1. Scaled heading sizes</a></li>
</ul>
</li>
<li><a href="#h:97caca76-fa13-456c-aef1-a2aa165ea274">4.15. Headings' font</a></li>
</ul>
</li>
<li><a href="#h:f4651d55-8c07-46aa-b52b-bed1e53463bb">5. Advanced customisation (do-it-yourself)</a>
<ul>
<li><a href="#h:1487c631-f4fe-490d-8d58-d72ffa3bd474">5.1. Tweak colours (DIY)</a></li>
<li><a href="#h:defcf4fc-8fa8-4c29-b12e-7119582cc929">5.2. Font configs (DIY)</a></li>
<li><a href="#h:89f0678d-c5c3-4a57-a526-668b2bb2d7ad">5.3. Org user faces (DIY)</a></li>
</ul>
</li>
<li><a href="#h:a9c8f29d-7f72-4b54-b74b-ddefe15d6a19">6. Face coverage</a>
<ul>
<li><a href="#h:60ed4275-60d6-49f8-9287-9a64e54bea0e">6.1. Supported packages</a></li>
<li><a href="#h:2cb359c7-3a84-4262-bab3-dcdc1d0034d7">6.2. Covered indirectly</a></li>
<li><a href="#h:6c6e8d94-6782-47fc-9eef-ad78671e9eea">6.3. Will NOT be supported</a></li>
</ul>
</li>
<li><a href="#h:4c4d901a-84d7-4f20-bd99-0808c2b06eba">7. Notes for individual packages</a>
<ul>
<li><a href="#h:9130a8ba-d8e3-41be-a58b-3cb1eb7b6d17">7.1. Note for powerline or spaceline</a></li>
<li><a href="#h:4cc767dc-ffef-4c5c-9f10-82eb7b8921bf">7.2. Note on shr colours</a></li>
<li><a href="#h:d28879a2-8e4b-4525-986e-14c0f873d229">7.3. Note for Helm grep</a></li>
<li><a href="#h:5095cbd1-e17a-419c-93e8-951c186362a3">7.4. Note on vc-annotate-background-mode</a></li>
</ul>
</li>
<li><a href="#h:9c3cd842-14b7-44d7-84b2-a5c8bc3fc3b1">8. Contributing</a>
<ul>
<li><a href="#h:89504f1c-c9a1-4bd9-ab39-78fd0eddb47c">8.1. Sources of the themes</a></li>
<li><a href="#h:6536c8d5-3f98-43ab-a787-b94120e735e8">8.2. Issues you can help with</a></li>
<li><a href="#h:111773e2-f26f-4b68-8c4f-9794ca6b9633">8.3. Merge requests</a></li>
</ul>
</li>
<li><a href="#h:95c3da23-217f-404e-b5f3-56c75760ebcf">9. Acknowledgements</a></li>
<li><a href="#h:13752581-4378-478c-af17-165b6e76bc1b">10. Meta</a></li>
<li><a href="#h:21adb7c8-2208-41e8-803c-052e42e2c05d">11. External projects (ports)</a></li>
<li><a href="#h:3077c3d2-7f90-4228-8f0a-73124f4026f6">12. GNU Free Documentation License</a></li>
</ul>
</div>
</div>

<div id="outline-container-orgd1a3caf" class="outline-2">
<h2 id="h:f0f3dbcb-602d-40cf-b918-8f929c441baf"><span class="section-number-2">1</span> Overview</h2>
<div class="outline-text-2" id="text-h:f0f3dbcb-602d-40cf-b918-8f929c441baf">
<p>
The Modus themes are designed for accessible readability.  They conform
with the highest standard for colour contrast between any given
combination of background and foreground colours.  This corresponds to
the WCAG AAA standard, which specifies a minimum rate of distance in
relative luminance of 7:1.
</p>

<p>
Modus Operandi (<code>modus-operandi</code>) is a light theme, while Modus Vivendi
(<code>modus-vivendi</code>) is dark.  Each theme&rsquo;s colour palette is designed to
meet the needs of the numerous interfaces that are possible in the Emacs
computing environment.
</p>

<p>
The overarching objective of this project is to always offer accessible
colour combinations.  There shall never be a compromise on this
principle.  If there is an inescapable trade-off between readability and
stylistic considerations, we will always opt for the former.
</p>

<p>
To ensure that users have a consistently accessible experience, the
themes strive to achieve as close to full face coverage as possible
(see <a href="#h:a9c8f29d-7f72-4b54-b74b-ddefe15d6a19">Face coverage</a>).
</p>

<p>
Starting with version 0.12.0, the themes are built into Emacs.  Their
version is that of the latest tagged release.  This is because I
(Protesilaos Stavrou) do not have push privileges to the Emacs
repository and must contact the mailing list for someone else to make
the changes for me.  As you can understand, it would be too tedious to
do this each time I make a commit.
</p>

<p>
If I am ever granted access to the Emacs git repo, I will make sure that
the built-in themes are synced with the <code>HEAD</code> of my <code>master</code> branch.
</p>
</div>

<div id="outline-container-org7657169" class="outline-3">
<h3 id="h:69b92089-069c-4ba1-9d94-cc3415fc4f87"><span class="section-number-3">1.1</span> How do the themes look like</h3>
<div class="outline-text-3" id="text-h:69b92089-069c-4ba1-9d94-cc3415fc4f87">
<p>
Check the <a href="https://gitlab.com/protesilaos/modus-themes/wikis/Screenshots">web page with the screen shots</a>.  There are lots of scenaria on
display that draw attention to details and important aspects in the
design of the themes.  They also showcase the numerous customisation
options.
</p>

<p>
<a href="#h:bf1c82f2-46c7-4eb2-ad00-dd11fdd8b53f">Customisation options</a>.
</p>
</div>
</div>
</div>

<div id="outline-container-org75b1d62" class="outline-2">
<h2 id="h:1af85373-7f81-4c35-af25-afcef490c111"><span class="section-number-2">2</span> Installation</h2>
<div class="outline-text-2" id="text-h:1af85373-7f81-4c35-af25-afcef490c111">
<p>
The Modus themes are built into Emacs&rsquo; development branch (<code>master</code>) which
corresponds to the nominal version 28.0.50.  Otherwise they can be
installed using Emacs&rsquo; package manager or manually from their code
repository.
</p>

<p>
Modus Operandi (light theme) and Modus Vivendi (dark) are normally
distributed as standalone packages in Emacs-specific archives: GNU ELPA,
MELPA, and MELPA Stable.  There also exist packages for GNU/Linux
distributions.
</p>
</div>

<div id="outline-container-org6090c28" class="outline-3">
<h3 id="h:c4b10085-149f-43e2-bd4d-347f33aee054"><span class="section-number-3">2.1</span> Install from the archives</h3>
<div class="outline-text-3" id="text-h:c4b10085-149f-43e2-bd4d-347f33aee054">
<p>
<code>modus-operandi-theme</code> and <code>modus-vivendi-theme</code> are available from GNU
Elpa, Melpa, Melpa-Stable.
</p>

<p>
Prior to querying any package archive, make sure to have updated the
index, with <code>M-x package-refresh-contents</code>.  Then all you need to do is
type <code>M-x package-install</code> and specify the theme of your choice.
</p>

<p>
GNU Elpa and Melpa-Stable contain the last tagged release.  While Melpa
builds from the latest commit to the <a href="https://gitlab.com/protesilaos/modus-themes">Modus theme&rsquo;s Git repository</a>.
</p>
</div>
</div>

<div id="outline-container-org15e4816" class="outline-3">
<h3 id="h:da640eb1-95dd-4e86-bb4e-1027b27885f0"><span class="section-number-3">2.2</span> Install on GNU/Linux</h3>
<div class="outline-text-3" id="text-h:da640eb1-95dd-4e86-bb4e-1027b27885f0">
<p>
The themes are also available from the archives of some GNU/Linux
distributions.  These should correspond to a tagged release rather than
building directly from the latest Git commit.  It all depends on the
distro&rsquo;s packaging policies.
</p>
</div>

<div id="outline-container-org096b6c6" class="outline-4">
<h4 id="h:7e570360-9ee6-4bc5-8c04-9dc11418a3e4"><span class="section-number-4">2.2.1</span> Debian 11 Bullseye</h4>
<div class="outline-text-4" id="text-h:7e570360-9ee6-4bc5-8c04-9dc11418a3e4">
<p>
The two themes are distributed as a single package for Debian and its
derivatives.  Currently in the unstable and testing suites and should be
available in time for Debian 11 Bullseye (next stable).
</p>

<p>
Get them with:
</p>

<div class="org-src-container">
<pre class="src src-sh">sudo apt install elpa-modus-themes
</pre>
</div>
</div>
</div>

<div id="outline-container-org600a2d9" class="outline-4">
<h4 id="h:a4ca52cd-869f-46a5-9e16-4d9665f5b88e"><span class="section-number-4">2.2.2</span> GNU Guix</h4>
<div class="outline-text-4" id="text-h:a4ca52cd-869f-46a5-9e16-4d9665f5b88e">
<p>
Users of either the Guix System (the distro) or just Guix (the package
manager) can get each theme as a standalone package.
</p>

<div class="org-src-container">
<pre class="src src-sh">guix package -i modus-operandi-theme
</pre>
</div>

<p>
And/or:
</p>

<div class="org-src-container">
<pre class="src src-sh">guix package -i modus-vivendi-theme
</pre>
</div>
</div>
</div>
</div>
</div>

<div id="outline-container-org6463530" class="outline-2">
<h2 id="h:3f3c3728-1b34-437d-9d0c-b110f5b161a9"><span class="section-number-2">3</span> Enable and load</h2>
<div class="outline-text-2" id="text-h:3f3c3728-1b34-437d-9d0c-b110f5b161a9">
<p>
This section documents techniques on how to load the theme of your
choice and how to further control its initialisation.  It also includes
some sample code snippets that could help you in the task, especially if
you intend to use both Modus Operandi and Modus Vivendi.
</p>
</div>

<div id="outline-container-orgb75806d" class="outline-3">
<h3 id="h:1777c247-1b56-46b7-a4ce-54e720b33d06"><span class="section-number-3">3.1</span> Load automatically</h3>
<div class="outline-text-3" id="text-h:1777c247-1b56-46b7-a4ce-54e720b33d06">
<p>
A simple way to load the theme from your Emacs initialisation file is to
include either of the following expressions:
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">(load-theme 'modus-operandi t)          ; Light theme
(load-theme 'modus-vivendi t)           ; Dark theme
</pre>
</div>

<p>
Make sure to remove any other theme that is being loaded, otherwise you
might run into unexpected issues (you can also <code>M-x disable-theme</code>).
</p>
</div>
</div>

<div id="outline-container-org57cf046" class="outline-3">
<h3 id="h:4e936e31-e9eb-4b50-8fdd-45d827a03cca"><span class="section-number-3">3.2</span> Load at a given time or at sunset/sunrise</h3>
<div class="outline-text-3" id="text-h:4e936e31-e9eb-4b50-8fdd-45d827a03cca">
<p>
It is possible to schedule a time during the day at or after which a
given theme will be loaded.<sup><a id="fnr.1" class="footref" href="#fn.1">1</a></sup>
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">;; Light for the day
(load-theme 'modus-operandi t t)
(run-at-time "05:00" (* 60 60 24)
             (lambda ()
               (enable-theme 'modus-operandi)))

;; Dark for the night
(load-theme 'modus-vivendi t t)
(run-at-time "21:00" (* 60 60 24)
             (lambda ()
               (enable-theme 'modus-vivendi)))
</pre>
</div>

<p>
A modified version of the above technique is to use the sunrise and
sunset as references, instead of specifying a fixed value.<sup><a id="fnr.2" class="footref" href="#fn.2">2</a></sup>
If you set <code>calendar-latitude</code> and <code>calendar-longitude</code> (defined in the
built-in <code>solar.el</code> library&#x2014;read it with <code>M-x find-library</code>), you can
automatically switch between both themes at the appropriate time-of-day.
Note that <i>those calendar variables need to be set before loading the
themes</i>.
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">;; Define coordinates
(setq calendar-latitude 35.17
      calendar-longitude 33.36)

;; Light at sunrise
(load-theme 'modus-operandi t t)
(run-at-time (nth 1 (split-string (sunrise-sunset)))
             (* 60 60 24)
             (lambda ()
               (enable-theme 'modus-operandi)))

;; Dark at sunset
(load-theme 'modus-vivendi t t)
(run-at-time (nth 4 (split-string (sunrise-sunset)))
             (* 60 60 24)
             (lambda ()
               (enable-theme 'modus-vivendi)))
</pre>
</div>

<p>
For the sake of completeness, the <code>load-theme</code> call in these snippets is
slightly different than the one shown in <a href="#h:1777c247-1b56-46b7-a4ce-54e720b33d06">Load automatically</a>, because it
does not enable the theme directly: the subsequent <code>enable-theme</code> does
that when needed.
</p>
</div>
</div>

<div id="outline-container-orgb8e688d" class="outline-3">
<h3 id="h:2a0895a6-3281-4e55-8aa1-8a737555821e"><span class="section-number-3">3.3</span> Toggle between the themes on demand</h3>
<div class="outline-text-3" id="text-h:2a0895a6-3281-4e55-8aa1-8a737555821e">
<p>
With both themes available, it is possible to design a simple command to
switch between them on demand.
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">(defun modus-themes-toggle ()
  "Toggle between `modus-operandi' and `modus-vivendi' themes."
  (interactive)
  (if (eq (car custom-enabled-themes) 'modus-operandi)
      (progn
        (disable-theme 'modus-operandi)
        (load-theme 'modus-vivendi t))
    (disable-theme 'modus-vivendi)
    (load-theme 'modus-operandi t)))
</pre>
</div>
</div>
</div>

<div id="outline-container-org2791878" class="outline-3">
<h3 id="h:a897b302-8e10-4a26-beab-3caaee1e1193"><span class="section-number-3">3.4</span> Configure options prior to loading</h3>
<div class="outline-text-3" id="text-h:a897b302-8e10-4a26-beab-3caaee1e1193">
<p>
If you plan to use both themes and wish to apply styles consistently
(see <a href="#h:bf1c82f2-46c7-4eb2-ad00-dd11fdd8b53f">Customisation Options</a>), you could define wrapper functions around
the standard <code>load-theme</code> command.  These extend the simple function we
presented in <a href="#h:2a0895a6-3281-4e55-8aa1-8a737555821e">Toggle between the themes on demand</a>.
</p>

<p>
Here is a comprehensive setup (the values assigned to the variables are
just for the sake of this demonstration):<sup><a id="fnr.3" class="footref" href="#fn.3">3</a></sup>
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">(defmacro modus-themes-format-sexp (sexp &amp;rest objects)
  `(eval (read (format ,(format "%S" sexp) ,@objects))))

(dolist (theme '("operandi" "vivendi"))
  (modus-themes-format-sexp
   (defun modus-%1$s-theme-load ()
     (setq modus-%1$s-theme-slanted-constructs t
           modus-%1$s-theme-bold-constructs t
           modus-%1$s-theme-fringes 'subtle ; {nil,'subtle,'intense}
           modus-%1$s-theme-mode-line '3d ; {nil,'3d,'moody}
           modus-%1$s-theme-faint-syntax nil
           modus-%1$s-theme-intense-hl-line nil
           modus-%1$s-theme-intense-paren-match nil
           modus-%1$s-theme-prompts nil ; {nil,'subtle,'intense}
           modus-%1$s-theme-completions 'moderate ; {nil,'moderate,'opinionated}
           modus-%1$s-theme-diffs nil ; {nil,'desaturated,'fg-only}
           modus-%1$s-theme-org-blocks 'greyscale ; {nil,'greyscale,'rainbow}
           modus-%1$s-theme-variable-pitch-headings t
           modus-%1$s-theme-rainbow-headings t
           modus-%1$s-theme-section-headings t
           modus-%1$s-theme-scale-headings t
           modus-%1$s-theme-scale-1 1.1
           modus-%1$s-theme-scale-2 1.15
           modus-%1$s-theme-scale-3 1.21
           modus-%1$s-theme-scale-4 1.27
           modus-%1$s-theme-scale-5 1.33)
     (load-theme 'modus-%1$s t))
   theme))

(defun modus-themes-toggle ()
  "Toggle between `modus-operandi' and `modus-vivendi' themes."
  (interactive)
  (if (eq (car custom-enabled-themes) 'modus-operandi)
      (progn
        (disable-theme 'modus-operandi)
        (modus-vivendi-theme-load))
    (disable-theme 'modus-vivendi)
    (modus-operandi-theme-load)))
</pre>
</div>
</div>
</div>
</div>

<div id="outline-container-orgab97e70" class="outline-2">
<h2 id="h:bf1c82f2-46c7-4eb2-ad00-dd11fdd8b53f"><span class="section-number-2">4</span> Customisation Options</h2>
<div class="outline-text-2" id="text-h:bf1c82f2-46c7-4eb2-ad00-dd11fdd8b53f">
<p>
The Modus themes are highly configurable.  Though they should work well
without any further tweaks.
</p>

<p>
By default, all customisation options are set to <code>nil</code>.
</p>

<p>
All customisation options need to be evaluated before loading their
theme (see <a href="#h:3f3c3728-1b34-437d-9d0c-b110f5b161a9">Enable and load</a>).
</p>
</div>

<div id="outline-container-org9d2c325" class="outline-3">
<h3 id="h:b25714f6-0fbe-41f6-89b5-6912d304091e"><span class="section-number-3">4.1</span> Option for more bold constructs</h3>
<div class="outline-text-3" id="text-h:b25714f6-0fbe-41f6-89b5-6912d304091e">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-bold-constructs</code></li>
<li><code>modus-vivendi-theme-bold-constructs</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>t</code></li>
</ol>

<p>
Display several constructs in bold weight.  This concerns keywords and
other important aspects of code syntax.  It also affects certain mode
line indicators.
</p>

<p>
The default is to only use a bold weight when it is necessary.
</p>

<p>
Additionally and while not necessary, to define the precise weight for
bold constructs, you can change the typographic intensity of the <code>bold</code>
face.  Assuming your typeface of choice supports a &ldquo;semibold&rdquo; weight,
adding the following snippet to your init file should suffice:
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">(set-face-attribute 'bold nil :weight 'semibold)
</pre>
</div>

<p>
The standard is a bold weight.  It requires no further intervention.
</p>
</div>
</div>

<div id="outline-container-org8832a90" class="outline-3">
<h3 id="h:977c900d-0d6d-4dbb-82d9-c2aae69543d6"><span class="section-number-3">4.2</span> Option for more slanted constructs</h3>
<div class="outline-text-3" id="text-h:977c900d-0d6d-4dbb-82d9-c2aae69543d6">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-slanted-constructs</code></li>
<li><code>modus-vivendi-theme-slanted-constructs</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>t</code></li>
</ol>

<p>
Choose to render more faces in slanted text (italics).  This typically
affects documentation strings and code comments.
</p>

<p>
The default is to not use italics unless it is absolutely necessary.
</p>
</div>
</div>

<div id="outline-container-orgf0b7e08" class="outline-3">
<h3 id="h:741379fe-7203-4dad-a7f8-ab71f61b43e6"><span class="section-number-3">4.3</span> Option for faint code syntax highlighting</h3>
<div class="outline-text-3" id="text-h:741379fe-7203-4dad-a7f8-ab71f61b43e6">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-faint-syntax</code></li>
<li><code>modus-vivendi-theme-faint-syntax</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>t</code></li>
</ol>

<p>
Use less saturated colours in programming modes for highlighting code
syntax.  The default is to use saturated colours.
</p>

<p>
This option essentially affects the font-lock faces, so it may also have
effects in other places that are hard-wired to rely directly on
font-lock.  The author is aware of <code>vc-dir</code> as a case in point.
</p>
</div>
</div>

<div id="outline-container-org0707dac" class="outline-3">
<h3 id="h:db5a9a7c-2928-4a28-b0f0-6f2b9bd52ba1"><span class="section-number-3">4.4</span> Option for command prompt styles</h3>
<div class="outline-text-3" id="text-h:db5a9a7c-2928-4a28-b0f0-6f2b9bd52ba1">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-prompts</code></li>
<li><code>modus-vivendi-theme-prompts</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>subtle</code></li>
<li><code>intense</code></li>
</ol>

<p>
The symbols &ldquo;subtle&rdquo; and &ldquo;intense&rdquo; will apply a combination of accented
background and foreground to the minibuffer and other REPL prompts (like
<code>M-x shell</code> and <code>M-x eshell</code>).  The difference between the two is that the
latter has a more pronounced/noticeable effect than the former.
</p>

<p>
The default is to not use any background for such prompts, while only
relying on an accented foreground colour.
</p>
</div>
</div>

<div id="outline-container-orgcfd11d4" class="outline-3">
<h3 id="h:27943af6-d950-42d0-bc23-106e43f50a24"><span class="section-number-3">4.5</span> Option for mode line presentation</h3>
<div class="outline-text-3" id="text-h:27943af6-d950-42d0-bc23-106e43f50a24">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-mode-line</code></li>
<li><code>modus-vivendi-theme-mode-line</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>3d</code></li>
<li><code>moody</code></li>
</ol>

<p>
The default value (<code>nil</code>) produces a two-dimensional effect both for the
active and inactive modelines.  The differences between the two are
limited to distinct shades of greyscale values, with the active being
more intense than the inactive.
</p>

<p>
A <code>3d</code> symbol will make the active modeline look like a three-dimensional
rectangle.  Inactive modelines remain 2D, though they are slightly toned
down relative to the default.  This aesthetic is the same as what you
get when you run Emacs without any customisations (<code>emacs -Q</code> on the
command line).
</p>

<p>
While <code>moody</code> removes all box effects from the modelines and applies
underline and overline properties instead.  It also tones down a bit the
inactive modelines.  This is meant to optimise things for use with the
<a href="https://github.com/tarsius/moody">moody package</a>, though it can work fine even without it.
</p>
</div>
</div>

<div id="outline-container-org67cffaf" class="outline-3">
<h3 id="h:f1c20c02-7b34-4c35-9c65-99170efb2882"><span class="section-number-3">4.6</span> Option for completion framework aesthetics</h3>
<div class="outline-text-3" id="text-h:f1c20c02-7b34-4c35-9c65-99170efb2882">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-completions</code></li>
<li><code>modus-vivendi-theme-completions</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>moderate</code></li>
<li><code>opinionated</code></li>
</ol>

<p>
This is a special option that has different effects depending on the
completion UI.  The interfaces can be grouped in two categories, based
on their default aesthetics: (i) those that only or mostly use
foreground colours for their interaction model, and (ii) those that
combine background and foreground values for some of their metaphors.
The former category encompasses the built-in tools, namely, Icomplete
and Ido, as well as third party packages like Orderless and Flx.  The
latter covers Helm, Ivy, Selectrum, and similar.
</p>

<p>
A value of <code>nil</code> will respect the metaphors of each completion framework.
</p>

<p>
The symbol <code>moderate</code> will apply a combination of background and
foreground that is fairly subtle.  For Icomplete and friends this
constitutes a departure from their default aesthetics, however the
difference is small.  While Helm et al will appear slightly different
than their original looks, as they are toned down a bit.
</p>

<p>
The symbol <code>opinionated</code> will apply colour combinations that refashion the
completion UI.  For the Icomplete camp this means that intense
background and foreground combinations are used: in effect their looks
emulate those of Ivy and co. in their original style.  Whereas the other
group of packages will revert to an even more nuanced aesthetic with
some additional changes to the choice of hues.
</p>

<p>
To appreciate the scope of this customisation option, you should spend
some time with every one of the <code>nil</code> (default), <code>moderate</code>, and <code>opinionated</code>
possibilities.
</p>
</div>
</div>

<div id="outline-container-org18d54e2" class="outline-3">
<h3 id="h:1983c3fc-74f6-44f3-b917-967c403bebae"><span class="section-number-3">4.7</span> Option for fringe visibility</h3>
<div class="outline-text-3" id="text-h:1983c3fc-74f6-44f3-b917-967c403bebae">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-fringes</code></li>
<li><code>modus-vivendi-theme-fringes</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>subtle</code></li>
<li><code>intense</code></li>
</ol>

<p>
The &ldquo;subtle&rdquo; symbol will apply a greyscale background that is visible,
yet close enough to the main background colour.  While the &ldquo;intense&rdquo;
symbol will use a more noticeable greyscale background.
</p>

<p>
The default is to use the same colour as that of the main background,
meaning that the fringes are not obvious though they still occupy the
space given to them by <code>fringe-mode</code>.
</p>
</div>
</div>

<div id="outline-container-orgac15948" class="outline-3">
<h3 id="h:1dba1cfe-d079-4c13-a810-f768e8789177"><span class="section-number-3">4.8</span> Option for line highlighting (hl-line-mode)</h3>
<div class="outline-text-3" id="text-h:1dba1cfe-d079-4c13-a810-f768e8789177">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-intense-hl-line</code></li>
<li><code>modus-vivendi-theme-intense-hl-line</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>t</code></li>
</ol>

<p>
Draw the current line of <code>hl-line-mode</code> or its global equivalent in a more
prominent background colour.  This would also affect several packages
that enable <code>hl-line-mode</code>, such as <code>elfeed</code> and <code>mu4e</code>.
</p>

<p>
The default is to use a more subtle grey.
</p>
</div>
</div>

<div id="outline-container-orgedfcb4e" class="outline-3">
<h3 id="h:e66a7e4d-a512-4bc7-9f86-fbbb5923bf37"><span class="section-number-3">4.9</span> Option for parenthesis matching (show-paren-mode)</h3>
<div class="outline-text-3" id="text-h:e66a7e4d-a512-4bc7-9f86-fbbb5923bf37">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-intense-paren-match</code></li>
<li><code>modus-vivendi-theme-intense-paren-match</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>t</code></li>
</ol>

<p>
Apply a more intense background to the matching parentheses (or
delimiters).  This affects tools such as the built-in <code>show-paren-mode</code>.
The default is to use a subtle warm colour for the background of those
overlays.
</p>
</div>
</div>

<div id="outline-container-orgf9a2d02" class="outline-3">
<h3 id="h:ea7ac54f-5827-49bd-b09f-62424b3b6427"><span class="section-number-3">4.10</span> Option for diff buffer looks</h3>
<div class="outline-text-3" id="text-h:ea7ac54f-5827-49bd-b09f-62424b3b6427">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-diffs</code></li>
<li><code>modus-vivendi-theme-diffs</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>desaturated</code></li>
<li><code>fg-only</code></li>
</ol>

<p>
By default the themes will apply richly coloured backgrounds to the
output of diffs, such as those of <code>diff-mode</code>, <code>ediff</code>, <code>smerge-mode</code>, and
<code>magit</code>.  These are colour combinations of an accented background and
foreground so that, for example, added lines have a pronounced green
background with an appropriate shade of green for the affected text.
Word-wise or &ldquo;refined&rdquo; changes follow this pattern but use different
shades of those colours to remain distinct.
</p>

<p>
A <code>desaturated</code> value tones down all relevant colour values.  It still
combines an accented background with an appropriate background, yet its
overall impression is very subtle.  Refined changes are a bit more
intense to fulfil their intended function, though still less saturated
than default.
</p>

<p>
While <code>fg-only</code> will remove all accented backgrounds and instead rely on
colour-coded text to denote changes.  For instance, added lines use an
intense green foreground, while their background is the same as the rest
of the buffer.  Word-wise highlights still use a background value which
is, nonetheless, more subtle than its default equivalent.
</p>

<p>
Concerning <code>magit</code>, an extra set of tweaks are introduced for the effect
of highlighting the current diff hunk, so as to remain consistent with
the overall experience of that mode.  Expect changes that are consistent
with the overall intent of the aforementioned.
</p>
</div>
</div>

<div id="outline-container-orgfe557a2" class="outline-3">
<h3 id="h:b7e328c0-3034-4db7-9cdf-d5ba12081ca2"><span class="section-number-3">4.11</span> Option for org-mode block styles</h3>
<div class="outline-text-3" id="text-h:b7e328c0-3034-4db7-9cdf-d5ba12081ca2">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-org-blocks</code></li>
<li><code>modus-vivendi-theme-org-blocks</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>greyscale</code></li>
<li><code>rainbow</code></li>
</ol>

<p>
The default is to use the same background as the rest of the buffer for
the contents of the block.
</p>

<p>
A value of <code>greyscale</code> will apply a subtle neutral grey background to the
block&rsquo;s contents.  It will also extend to the edge of the window the
background of the &ldquo;begin&rdquo; and &ldquo;end&rdquo; block delimiter lines (only relevant
for Emacs versions &gt;= 27 where the &rsquo;extend&rsquo; keyword is recognised by
<code>set-face-attribute</code>).
</p>

<p>
While <code>rainbow</code> will instead use an accented background for the contents
of the block.  The exact colour will depend on the programming language
and is controlled by the <code>org-src-block-faces</code> variable (refer to the
theme&rsquo;s source code for the current association list).  This is most
suitable for users who work on literate programming documents that mix
and match several languages.
</p>

<p>
Note that the &ldquo;rainbow&rdquo; blocks may require you to also reload the
major-mode so that the colours are applied properly: use <code>M-x org-mode</code> or
<code>M-x org-mode-restart</code> to refresh the buffer.  Or start typing in each
code block (inefficient at scale, but it still works).
</p>
</div>
</div>

<div id="outline-container-org72ea79a" class="outline-3">
<h3 id="h:61b65cff-cc37-4c69-91d7-f818293139a0"><span class="section-number-3">4.12</span> Option for colourful headings</h3>
<div class="outline-text-3" id="text-h:61b65cff-cc37-4c69-91d7-f818293139a0">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-rainbow-headings</code></li>
<li><code>modus-vivendi-theme-rainbow-headings</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>t</code></li>
</ol>

<p>
Apply more saturated colours to headings in <code>org-mode</code> and <code>outline-mode</code>
while retaining all other heading properties.  The colours follow the
rainbow&rsquo;s spectrum.  In Org headings, some additional tweaks are made to
adapt keywords (like &ldquo;TODO&rdquo;) to the more vivid presentation.
</p>

<p>
The default uses a more frugal aesthetic for headings, letting their
bold typography and the nuances between the various heading levels
provide the elements of differentiation.
</p>
</div>
</div>

<div id="outline-container-orgc681357" class="outline-3">
<h3 id="h:7649e1b4-7b1d-41bc-aebd-fdae585212d9"><span class="section-number-3">4.13</span> Option for sectioned headings</h3>
<div class="outline-text-3" id="text-h:7649e1b4-7b1d-41bc-aebd-fdae585212d9">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-section-headings</code></li>
<li><code>modus-vivendi-theme-section-headings</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>t</code></li>
</ol>

<p>
Uses a background colour and an overline to mark section headings in
<code>org-mode</code> and <code>outline-mode</code>.  These attributes are applied in addition to
the existing foreground colour and the bold weight and can, therefore,
be combined with the &ldquo;rainbow&rdquo; headings option (as well as all the other
options pertaining to headings).  For Org several additional faces are
configured accordingly, such as <code>TODO</code> keywords which gain a box style.
</p>

<p>
The default is to use only a subtle foreground and a bold weight for
headings, while no boxes or {under,over}-line effects are present.
</p>

<p>
Note that the background for sectioned headings will extend to the edge
of the window.  To make it cover just the area occupied by the heading&rsquo;s
text, use this:
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">(setq org-fontify-whole-heading-line nil)
</pre>
</div>
</div>
</div>

<div id="outline-container-org1a4fd10" class="outline-3">
<h3 id="h:075eb022-37a6-41a4-a040-cc189f6bfa1f"><span class="section-number-3">4.14</span> Option for scaled headings</h3>
<div class="outline-text-3" id="text-h:075eb022-37a6-41a4-a040-cc189f6bfa1f">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-scale-headings</code></li>
<li><code>modus-vivendi-theme-scale-headings</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>t</code></li>
</ol>

<p>
Make headings larger in height relative to the main text.  This is
noticeable in modes like Org.  The default is to use the same size for
headings and body copy.
</p>
</div>

<div id="outline-container-org45a807e" class="outline-4">
<h4 id="h:6868baa1-beba-45ed-baa5-5fd68322ccb3"><span class="section-number-4">4.14.1</span> Control the scale of headings</h4>
<div class="outline-text-4" id="text-h:6868baa1-beba-45ed-baa5-5fd68322ccb3">
<p>
In addition to toggles for enabling scaled headings, users can also
specify a number of their own.
</p>

<ul class="org-ul">
<li>If it is a floating point, say, <code>1.5</code>, it is interpreted as a multiple
of the base font size.  This is the recommended method.</li>

<li>If it is an integer, it is read as an absolute font height.  The
number is basically the point size multiplied by a hundred.  So if you
want it to be <code>18pt</code> you must pass <code>180</code>.  Please understand that setting
an absolute value is discouraged, as it will break the layout when you
try to change font sizes with the built-in <code>text-scale-adjust</code> command
(see <a href="#h:defcf4fc-8fa8-4c29-b12e-7119582cc929">Font configurations</a>).</li>
</ul>

<p>
Below are the variables in their default values, using the floating
point paradigm.  The numbers are very conservative, but you are free to
change them to your liking, such as <code>1.2</code>, <code>1.4</code>, <code>1.6</code>, <code>1.8</code>, <code>2.0</code>&#x2014;or use a
resource for finding a consistent scale:
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">(setq modus-operandi-theme-scale-1 1.05
      modus-operandi-theme-scale-2 1.1
      modus-operandi-theme-scale-3 1.15
      modus-operandi-theme-scale-4 1.2
      modus-operandi-theme-scale-5 1.3)

(setq modus-vivendi-theme-scale-1 1.05
      modus-vivendi-theme-scale-2 1.1
      modus-vivendi-theme-scale-3 1.15
      modus-vivendi-theme-scale-4 1.2
      modus-vivendi-theme-scale-5 1.3)
</pre>
</div>

<p>
Note that in Org, scaling only increases the size of the heading, but
not of keywords that are added to it, like &ldquo;TODO&rdquo;.  This is outside the
control of the themes and I am not aware of any way to make such
keywords scale accordingly without patching upstream Org (see <a href="https://gitlab.com/protesilaos/modus-themes/-/issues/37">issue 37</a>
in the themes&rsquo; issue tracker).
</p>
</div>
</div>
</div>

<div id="outline-container-orge38d59b" class="outline-3">
<h3 id="h:97caca76-fa13-456c-aef1-a2aa165ea274"><span class="section-number-3">4.15</span> Option for variable-pitch font in headings</h3>
<div class="outline-text-3" id="text-h:97caca76-fa13-456c-aef1-a2aa165ea274">
<p>
Symbol names:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-variable-pitch-headings</code></li>
<li><code>modus-vivendi-theme-variable-pitch-headings</code></li>
</ul>

<p>
Possible values:
</p>

<ol class="org-ol">
<li><code>nil</code> (default)</li>
<li><code>t</code></li>
</ol>

<p>
Choose to apply a proportionately spaced, else &ldquo;variable-pitch&rdquo;,
typeface to headings (such as in Org mode).  The default is to use the
main font family.
</p>

<p>
<a href="#h:defcf4fc-8fa8-4c29-b12e-7119582cc929">Font configurations for Org (and others)</a>.
</p>
</div>
</div>
</div>

<div id="outline-container-orgdf82b94" class="outline-2">
<h2 id="h:f4651d55-8c07-46aa-b52b-bed1e53463bb"><span class="section-number-2">5</span> Advanced customisation (do-it-yourself)</h2>
<div class="outline-text-2" id="text-h:f4651d55-8c07-46aa-b52b-bed1e53463bb">
<p>
Unlike the predefined customisation options which follow a
straightforward pattern of allowing the user to quickly specify their
preference, the themes also provide a more flexible, albeit difficult,
mechanism to control things with precision (see <a href="#h:bf1c82f2-46c7-4eb2-ad00-dd11fdd8b53f">Customisation Options</a>).
</p>

<p>
This section is of interest only to users who are prepared to maintain
their own local tweaks and who are willing to deal with any possible
incompatibilities between versioned releases of the themes.  As such,
they are labelled as &ldquo;do-it-yourself&rdquo; or &ldquo;DIY&rdquo;.
</p>
</div>

<div id="outline-container-orge079253" class="outline-3">
<h3 id="h:1487c631-f4fe-490d-8d58-d72ffa3bd474"><span class="section-number-3">5.1</span> Full access to the themes' palette</h3>
<div class="outline-text-3" id="text-h:1487c631-f4fe-490d-8d58-d72ffa3bd474">
<p>
The variables are:
</p>

<ul class="org-ul">
<li><code>modus-operandi-theme-override-colors-alist</code></li>
<li><code>modus-vivendi-theme-override-colors-alist</code></li>
</ul>

<p>
Users can specify an association list that maps the names of colour
variables to hexadecimal RGB values (in the form of <code>#RRGGBB</code>).  This
means that it is possible to override the entire palette or subsets
thereof (see the source code for the actual names and values).
</p>

<p>
Example:
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">;; Redefine the values of those three variables for the given theme
(setq modus-vivendi-theme-override-colors-alist
      '(("magenta" . "#ffaabb")
        ("magenta-alt" . "#ee88ff")
        ("magenta-alt-other" . "#bbaaff")))
</pre>
</div>

<p>
If you want to be creative, you can define a minor mode that refashions
the themes on demand.  The following is a minor mode that gets activated
on demand.  We combine it with the function to switch between Modus
Operandi and Modus Vivendi (see <a href="#h:2a0895a6-3281-4e55-8aa1-8a737555821e">Toggle between the themes on demand</a> for
a basic command, and/or <a href="#h:a897b302-8e10-4a26-beab-3caaee1e1193">Configure options prior to loading</a> for a more
comprehensive setup).
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">(define-minor-mode modus-themes-alt-mode
  "Override Modus themes' palette variables with custom values.

This is intended as a proof-of-concept.  It is, nonetheless, a
perfectly accessible alternative, conforming with the design
principles of the Modus themes.  It still is not as good as the
default colours."
  :init-value nil
  :global t
  (if modus-themes-alt-mode
      (setq modus-operandi-theme-override-colors-alist
            '(("bg-main" . "#fefcf4")
              ("bg-dim" . "#faf6ef")
              ("bg-alt" . "#f7efe5")
              ("bg-hl-line" . "#f4f0e3")
              ("bg-active" . "#e8dfd1")
              ("bg-inactive" . "#f6ece5")
              ("bg-region" . "#c6bab1")
              ("bg-header" . "#ede3e0")
              ("bg-tab-bar" . "#dcd3d3")
              ("bg-tab-active" . "#fdf6eb")
              ("bg-tab-inactive" . "#c8bab8")
              ("fg-unfocused" . "#55556f"))
            modus-vivendi-theme-override-colors-alist
            '(("bg-main" . "#100b17")
              ("bg-dim" . "#161129")
              ("bg-alt" . "#181732")
              ("bg-hl-line" . "#191628")
              ("bg-active" . "#282e46")
              ("bg-inactive" . "#1a1e39")
              ("bg-region" . "#393a53")
              ("bg-header" . "#202037")
              ("bg-tab-bar" . "#262b41")
              ("bg-tab-active" . "#120f18")
              ("bg-tab-inactive" . "#3a3a5a")
              ("fg-unfocused" . "#9a9aab")))
    (setq modus-operandi-theme-override-colors-alist nil
          modus-vivendi-theme-override-colors-alist nil)))

(defun modus-themes-toggle (&amp;optional arg)
  "Toggle between `modus-operandi' and `modus-vivendi' themes.

With optional \\[universal-argument] prefix, enable
`modus-themes-alt-mode' for the loaded theme."
  (interactive "P")
  (if arg
      (modus-themes-alt-mode 1)
    (modus-themes-alt-mode -1))
  (if (eq (car custom-enabled-themes) 'modus-operandi)
      (progn
        (disable-theme 'modus-operandi)
        (load-theme 'modus-vivendi t))
    (disable-theme 'modus-vivendi)
    (load-theme 'modus-operandi t)))
</pre>
</div>
</div>
</div>

<div id="outline-container-orgdd2ff49" class="outline-3">
<h3 id="h:defcf4fc-8fa8-4c29-b12e-7119582cc929"><span class="section-number-3">5.2</span> Font configurations for Org (and others)</h3>
<div class="outline-text-3" id="text-h:defcf4fc-8fa8-4c29-b12e-7119582cc929">
<p>
The themes are designed to cope well with mixed font settings.
Currently this applies to <code>org-mode</code> and <code>markdown-mode</code>.
</p>

<p>
In practice it means that the user can safely opt for a more
prose-friendly proportionately spaced typeface as their default, while
letting spacing-sensitive elements like tables and inline code always
use a monospaced font, by inheriting from the <code>fixed-pitch</code> face.
</p>

<p>
Users can try the built-in <code>M-x variable-pitch-mode</code> to see the effect in
action.
</p>

<p>
To make everything use your desired font families, you need to configure
the <code>variable-pitch</code> (proportional spacing) and <code>fixed-pitch</code> (monospaced)
faces respectively.  It may also be convenient to set your main typeface
by configuring the <code>default</code> face the same way.
</p>

<p>
Put something like this in your initialisation file (make sure to read
the documentation of <code>set-face-attribute</code>, with <code>M-x describe-function</code>):
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">;; Main typeface
(set-face-attribute 'default nil :family "DejaVu Sans Mono" :height 110)

;; Proportionately spaced typeface
(set-face-attribute 'variable-pitch nil :family "DejaVu Serif" :height 1.0)

;; Monospaced typeface
(set-face-attribute 'fixed-pitch nil :family "DejaVu Sans Mono" :height 1.0)
</pre>
</div>

<p>
Note the differences in the <code>:height</code> property.  The <code>default</code> face must
specify an absolute value, which is the point size × 10.  So if you want
to use a font at point size <code>11</code>, you set the height at <code>110</code>.<sup><a id="fnr.4" class="footref" href="#fn.4">4</a></sup>  Whereas every other face must have a value that is
relative to the default, represented as a floating point (if you use an
integer, say, <code>15</code> then that means an absolute height).  This is of
paramount importantance: it ensures that all fonts can scale gracefully
when using something like the <code>text-scale-adjust</code> command which only
operates on the base font size (i.e. the <code>default</code> face&rsquo;s absolute
height).
</p>

<p>
An alternative syntax for the <code>default</code> face, which the author of this
documents prefers, is to pass all typeface parameters directly to a <code>font</code>
property.<sup><a id="fnr.5" class="footref" href="#fn.5">5</a></sup>
Note that here we use a standard point size:
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">(set-face-attribute 'default nil :font "DejaVu Sans Mono-11")
</pre>
</div>

<p>
Again, remember to only ever specify an absolute height for the <code>default</code>.
</p>
</div>
</div>

<div id="outline-container-orgeb9f679" class="outline-3">
<h3 id="h:89f0678d-c5c3-4a57-a526-668b2bb2d7ad"><span class="section-number-3">5.3</span> Org user faces (DIY)</h3>
<div class="outline-text-3" id="text-h:89f0678d-c5c3-4a57-a526-668b2bb2d7ad">
<p>
Users of <code>org-mode</code> have the option to configure various keywords and
priority cookies to better match their workflow.  User options are
<code>org-todo-keyword-faces</code> and <code>org-priority-faces</code>.
</p>

<p>
As those are meant to be custom faces, it would be futile to have the
themes try to guess what each user would want to use, which keywords to
target, and so on.  Instead, we can provide guidelines on how to
customise things to one&rsquo;s liking with the intent to retain the overall
aesthetics of the theme.
</p>

<p>
Please bear in mind that the end result of those is not controlled by
the active theme but by how Org maps faces to its constructs.  Editing
those while <code>org-mode</code> is active requires <code>M-x org-mode-restart</code> for changes
to take effect.
</p>

<p>
Let us assume you wish to visually differentiate your keywords.  You
have something like this:
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">(setq org-todo-keywords
      '((sequence "TODO(t)" "|" "DONE(D)" "CANCEL(C)")
        (sequence "MEET(m)" "|" "MET(M)")
        (sequence "STUDY(s)" "|" "STUDIED(S)")
        (sequence "WRITE(w)" "|" "WROTE(W)")))
</pre>
</div>

<p>
You could then use a variant of the following to inherit from a face
that uses the styles you want and also to preserve the properties
applied by the <code>org-todo</code> face:
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">(setq org-todo-keyword-faces
      '(("MEET" . '(font-lock-preprocessor-face org-todo))
        ("STUDY" . '(font-lock-variable-name-face org-todo))
        ("WRITE" . '(font-lock-type-face org-todo))))
</pre>
</div>

<p>
This will refashion the keywords you specify, while letting the other
items in <code>org-todo-keywords</code> use their original styles (which are defined
in the <code>org-todo</code> and <code>org-done</code> faces).
</p>

<p>
If you want back the defaults, try specifying just the <code>org-todo</code> face (or
use <code>org-done</code> if the meaning of the keywords you use demands as much):
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">(setq org-todo-keyword-faces
      '(("MEET" . org-todo)
        ("STUDY" . org-todo)
        ("WRITE" . org-todo)))
</pre>
</div>

<p>
When you inherit from multiple faces, you need to quote the list as
shown further above.  The order is important: the last item is applied
over the previous ones.  If you do not want to blend multiple faces, you
do not need a quoted list.  A pattern of <code>keyword . face</code> would suffice.
</p>

<p>
Both approaches can be used simultaneously, as illustrated in this
configuration of the priority cookies:
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp">(setq org-priority-faces
      '((?A . '(org-scheduled-today org-priority))
        (?B . org-priority)
        (?C . '(shadow org-priority))))
</pre>
</div>

<p>
To find all the faces that are loaded in your current Emacs session, use
<code>M-x list-faces-display</code>.  Also try <code>M-x describe-variable</code> and then specify
the name of each of those Org variables demonstrated above.  Their
documentation strings will offer you further guidance.
</p>

<p>
Also consider reading the &ldquo;Notes for aspiring Emacs theme developers&rdquo;,
published on 2020-08-28 by Protesilaos Stavrou:
<a href="https://protesilaos.com/codelog/2020-08-28-notes-emacs-theme-devs/">https://protesilaos.com/codelog/2020-08-28-notes-emacs-theme-devs/</a>.
</p>
</div>
</div>
</div>

<div id="outline-container-orgdf0ccd4" class="outline-2">
<h2 id="h:a9c8f29d-7f72-4b54-b74b-ddefe15d6a19"><span class="section-number-2">6</span> Face coverage</h2>
<div class="outline-text-2" id="text-h:a9c8f29d-7f72-4b54-b74b-ddefe15d6a19">
<p>
Modus Operandi and Modus Vivendi try to provide as close to full face
coverage as possible.  This is necessary to ensure a consistently
accessible reading experience across all possible interfaces.
</p>
</div>

<div id="outline-container-orgf1dd5ca" class="outline-3">
<h3 id="h:60ed4275-60d6-49f8-9287-9a64e54bea0e"><span class="section-number-3">6.1</span> Full support for packages or face groups</h3>
<div class="outline-text-3" id="text-h:60ed4275-60d6-49f8-9287-9a64e54bea0e">
<p>
This list will always be updated to reflect the current state of the
project.  The idea is to offer an overview of the known status of all
affected face groups.  The items with an appended asterisk <code>*</code> tend to
have lots of extensions, so the &ldquo;full support&rdquo; may not be 100% true…
</p>

<ul class="org-ul">
<li>ace-window</li>
<li>ag</li>
<li>alert</li>
<li>all-the-icons</li>
<li>annotate</li>
<li>anzu</li>
<li>apropos</li>
<li>apt-sources-list</li>
<li>artbollocks-mode</li>
<li>auctex and TeX</li>
<li>auto-dim-other-buffers</li>
<li>avy</li>
<li>awesome-tray</li>
<li>binder</li>
<li>bm</li>
<li>bongo</li>
<li>boon</li>
<li>breakpoint (provided by the built-in <code>gdb-mi.el</code> library)</li>
<li>buffer-expose</li>
<li>calendar and diary</li>
<li>calfw</li>
<li>centaur-tabs</li>
<li>change-log and log-view (such as <code>vc-print-log</code> and <code>vc-print-root-log</code>)</li>
<li>cider</li>
<li>circe</li>
<li>color-rg</li>
<li>column-enforce-mode</li>
<li>company-mode*</li>
<li>company-posframe</li>
<li>compilation-mode</li>
<li>completions</li>
<li>counsel*</li>
<li>counsel-css</li>
<li>counsel-notmuch</li>
<li>counsel-org-capture-string</li>
<li>cov</li>
<li>csv-mode</li>
<li>ctrlf</li>
<li>custom (<code>M-x customize</code>)</li>
<li>dap-mode</li>
<li>dashboard (emacs-dashboard)</li>
<li>deadgrep</li>
<li>debbugs</li>
<li>define-word</li>
<li>deft</li>
<li>dictionary</li>
<li>diff-hl</li>
<li>diff-mode</li>
<li>dim-autoload</li>
<li>dired</li>
<li>dired-async</li>
<li>dired-git</li>
<li>dired-git-info</li>
<li>dired-narrow</li>
<li>dired-subtree</li>
<li>diredfl</li>
<li>disk-usage</li>
<li>doom-modeline</li>
<li>dynamic-ruler</li>
<li>easy-jekyll</li>
<li>easy-kill</li>
<li>ebdb</li>
<li>ediff</li>
<li>eglot</li>
<li>el-search</li>
<li>eldoc-box</li>
<li>elfeed</li>
<li>elfeed-score</li>
<li>emms</li>
<li>enhanced-ruby-mode</li>
<li>epa</li>
<li>equake</li>
<li>erc</li>
<li>eros</li>
<li>ert</li>
<li>eshell</li>
<li>eshell-fringe-status</li>
<li>eshell-git-prompt</li>
<li>eshell-prompt-extras (epe)</li>
<li>eshell-syntax-highlighting</li>
<li>evil* (evil-mode)</li>
<li>evil-goggles</li>
<li>evil-visual-mark-mode</li>
<li>eww</li>
<li>eyebrowse</li>
<li>fancy-dabbrev</li>
<li>flycheck</li>
<li>flycheck-indicator</li>
<li>flycheck-posframe</li>
<li>flymake</li>
<li>flyspell</li>
<li>flyspell-correct</li>
<li>flx</li>
<li>freeze-it</li>
<li>frog-menu</li>
<li>focus</li>
<li>fold-this</li>
<li>font-lock (generic syntax highlighting)</li>
<li>forge</li>
<li>fountain (fountain-mode)</li>
<li>geiser</li>
<li>git-commit</li>
<li>git-gutter (and variants)</li>
<li>git-lens</li>
<li>git-rebase</li>
<li>git-timemachine</li>
<li>git-walktree</li>
<li>gnus</li>
<li>golden-ratio-scroll-screen</li>
<li>helm*</li>
<li>helm-ls-git</li>
<li>helm-switch-shell</li>
<li>helm-xref</li>
<li>helpful</li>
<li>highlight-blocks</li>
<li>highlight-defined</li>
<li>highlight-escape-sequences (<code>hes-mode</code>)</li>
<li>highlight-indentation</li>
<li>highlight-numbers</li>
<li>highlight-symbol</li>
<li>highlight-tail</li>
<li>highlight-thing</li>
<li>hl-defined</li>
<li>hl-fill-column</li>
<li>hl-line-mode</li>
<li>hl-todo</li>
<li>hydra</li>
<li>hyperlist</li>
<li>ibuffer</li>
<li>icomplete</li>
<li>icomplete-vertical</li>
<li>ido-mode</li>
<li>iedit</li>
<li>iflipb</li>
<li>imenu-list</li>
<li>indium</li>
<li>info</li>
<li>info-colors</li>
<li>interaction-log</li>
<li>ioccur</li>
<li>isearch, occur, etc.</li>
<li>ivy*</li>
<li>ivy-posframe</li>
<li>jira (org-jira)</li>
<li>journalctl-mode</li>
<li>js2-mode</li>
<li>julia</li>
<li>jupyter</li>
<li>kaocha-runner</li>
<li>keycast</li>
<li>line numbers (<code>display-line-numbers-mode</code> and global variant)</li>
<li>lsp-mode</li>
<li>lsp-ui</li>
<li>magit</li>
<li>magit-imerge</li>
<li>man</li>
<li>markdown-mode</li>
<li>markup-faces (<code>adoc-mode</code>)</li>
<li>mentor</li>
<li>messages</li>
<li>minibuffer-line</li>
<li>minimap</li>
<li>modeline</li>
<li>mood-line</li>
<li>moody</li>
<li>mu4e</li>
<li>mu4e-conversation</li>
<li>multiple-cursors</li>
<li>neotree</li>
<li>no-emoji</li>
<li>notmuch</li>
<li>num3-mode</li>
<li>nxml-mode</li>
<li>objed</li>
<li>orderless</li>
<li>org*</li>
<li>org-journal</li>
<li>org-noter</li>
<li>org-pomodoro</li>
<li>org-recur</li>
<li>org-roam</li>
<li>org-superstar</li>
<li>org-table-sticky-header</li>
<li>org-treescope</li>
<li>origami</li>
<li>outline-mode</li>
<li>outline-minor-faces</li>
<li>package (<code>M-x list-packages</code>)</li>
<li>page-break-lines</li>
<li>paradox</li>
<li>paren-face</li>
<li>parrot</li>
<li>pass</li>
<li>persp-mode</li>
<li>perspective</li>
<li>phi-grep</li>
<li>phi-search</li>
<li>pkgbuild-mode</li>
<li>pomidor</li>
<li>powerline</li>
<li>powerline-evil</li>
<li>proced</li>
<li>prodigy</li>
<li>racket-mode</li>
<li>rainbow-blocks</li>
<li>rainbow-identifiers</li>
<li>rainbow-delimiters</li>
<li>rcirc</li>
<li>regexp-builder (also known as <code>re-builder</code>)</li>
<li>rg (rg.el)</li>
<li>ripgrep</li>
<li>rmail</li>
<li>ruler-mode</li>
<li>sallet</li>
<li>selectrum</li>
<li>semantic</li>
<li>sesman</li>
<li>shell-script-mode</li>
<li>show-paren-mode</li>
<li>side-notes</li>
<li>skewer-mode</li>
<li>smart-mode-line</li>
<li>smartparens</li>
<li>smerge</li>
<li>spaceline</li>
<li>speedbar</li>
<li>spell-fu</li>
<li>stripes</li>
<li>suggest</li>
<li>switch-window</li>
<li>swiper</li>
<li>swoop</li>
<li>sx</li>
<li>symbol-overlay</li>
<li>syslog-mode</li>
<li>table (built-in table.el)</li>
<li>telephone-line</li>
<li>term</li>
<li>tomatinho</li>
<li>transient (pop-up windows such as Magit&rsquo;s)</li>
<li>trashed</li>
<li>treemacs</li>
<li>tty-menu</li>
<li>tuareg</li>
<li>undo-tree</li>
<li>vc (built-in mode line status for version control)</li>
<li>vc-annotate (<code>C-x v g</code>)</li>
<li>vdiff</li>
<li>vimish-fold</li>
<li>visible-mark</li>
<li>visual-regexp</li>
<li>volatile-highlights</li>
<li>vterm</li>
<li>wcheck-mode</li>
<li>web-mode</li>
<li>wgrep</li>
<li>which-function-mode</li>
<li>which-key</li>
<li>whitespace-mode</li>
<li>window-divider-mode</li>
<li>winum</li>
<li>writegood-mode</li>
<li>woman</li>
<li>xah-elisp-mode</li>
<li>xref</li>
<li>xterm-color (and ansi-colors)</li>
<li>yaml-mode</li>
<li>yasnippet</li>
<li>ztree</li>
</ul>

<p>
Plus many other miscellaneous faces that are provided by the upstream
GNU Emacs distribution.
</p>
</div>
</div>

<div id="outline-container-orgb56aecc" class="outline-3">
<h3 id="h:2cb359c7-3a84-4262-bab3-dcdc1d0034d7"><span class="section-number-3">6.2</span> Covered indirectly</h3>
<div class="outline-text-3" id="text-h:2cb359c7-3a84-4262-bab3-dcdc1d0034d7">
<p>
These do not require any extra styles because they are configured to
inherit from some basic faces.  Please confirm.
</p>

<ul class="org-ul">
<li>edit-indirect</li>
<li>php-mode</li>
<li>swift-mode</li>
</ul>
</div>
</div>

<div id="outline-container-org8866691" class="outline-3">
<h3 id="h:6c6e8d94-6782-47fc-9eef-ad78671e9eea"><span class="section-number-3">6.3</span> Will NOT be supported</h3>
<div class="outline-text-3" id="text-h:6c6e8d94-6782-47fc-9eef-ad78671e9eea">
<p>
I have thus far identified a single package that does fit into the
overarching objective of this project: <a href="https://github.com/hlissner/emacs-solaire-mode">solaire</a>.  It basically tries to
cast a less intense background on the main file-visiting buffers, so
that secondary elements like sidebars can have the default (pure
white/black) background.
</p>

<p>
I will only cover this package if it ever supports the inverse effect:
less intense colours (but still accessible) for supportive interfaces
and the intended styles for the content you are actually working on.
</p>
</div>
</div>
</div>

<div id="outline-container-org4effc85" class="outline-2">
<h2 id="h:4c4d901a-84d7-4f20-bd99-0808c2b06eba"><span class="section-number-2">7</span> Notes for individual packages</h2>
<div class="outline-text-2" id="text-h:4c4d901a-84d7-4f20-bd99-0808c2b06eba">
<p>
This section covers information that may be of interest to users of
individual packages.
</p>
</div>

<div id="outline-container-org4ca279a" class="outline-3">
<h3 id="h:9130a8ba-d8e3-41be-a58b-3cb1eb7b6d17"><span class="section-number-3">7.1</span> Note for powerline or spaceline</h3>
<div class="outline-text-3" id="text-h:9130a8ba-d8e3-41be-a58b-3cb1eb7b6d17">
<p>
Both Powerline and Spaceline package users will likely need to use the
command <code>powerline-reset</code> whenever they make changes to their themes
and/or modeline setup.
</p>
</div>
</div>

<div id="outline-container-orgb41abfb" class="outline-3">
<h3 id="h:4cc767dc-ffef-4c5c-9f10-82eb7b8921bf"><span class="section-number-3">7.2</span> Note on shr colours</h3>
<div class="outline-text-3" id="text-h:4cc767dc-ffef-4c5c-9f10-82eb7b8921bf">
<p>
Emacs&rsquo; HTML rendering mechanism (<code>shr</code>) may need explicit configuration to
respect the theme&rsquo;s colours instead of whatever specifications the
webpage provides.  Consult <code>C-h v shr-use-colors</code>.
</p>
</div>
</div>

<div id="outline-container-org76e93db" class="outline-3">
<h3 id="h:d28879a2-8e4b-4525-986e-14c0f873d229"><span class="section-number-3">7.3</span> Note for Helm grep</h3>
<div class="outline-text-3" id="text-h:d28879a2-8e4b-4525-986e-14c0f873d229">
<p>
There is one face from the Helm package that is meant to highlight the
matches of a grep or grep-like command (<code>ag</code> or <code>ripgrep</code>).  It is
<code>helm-grep-match</code>.  However, this face can only apply when the user does
not pass <code>--color=always</code> as a command-line option for their command.
</p>

<p>
Here is the docstring for that face, which is defined in the
<code>helm-grep.el</code> library (view a library with <code>M-x find-library</code>).
</p>

<blockquote>
<p>
Face used to highlight grep matches.  Have no effect when grep backend
use &ldquo;&#x2013;color=&rdquo;
</p>
</blockquote>

<p>
The user must either remove <code>--color</code> from the flags passed to the grep
function, or explicitly use <code>--color=never</code> (or equivalent).  Helm
provides user-facing customisation options for controlling the grep
function&rsquo;s parameters, such as <code>helm-grep-default-command</code> and
<code>helm-grep-git-grep-command</code>.
</p>

<p>
When <code>--color=always</code> is in effect, the grep output will use red text in
bold letter forms to present the matching part in the list of
candidates.  That style still meets the contrast ratio target of &gt;= 7:1
(accessibility standard WCAG AAA), because it draws the reference to
ANSI colour number 1 (red) from the already-supported array of
<code>ansi-color-names-vector</code>.
</p>
</div>
</div>

<div id="outline-container-org11b9420" class="outline-3">
<h3 id="h:5095cbd1-e17a-419c-93e8-951c186362a3"><span class="section-number-3">7.4</span> Note on vc-annotate-background-mode</h3>
<div class="outline-text-3" id="text-h:5095cbd1-e17a-419c-93e8-951c186362a3">
<p>
Due to the unique way <code>vc-annotate</code> (<code>C-x v g</code>) applies colours, support for
its background mode (<code>vc-annotate-background-mode</code>) is disabled at the
theme level.
</p>

<p>
Normally, such a drastic measure should not belong in a theme: assuming
the user&rsquo;s preferences is bad practice.  However, it has been deemed
necessary in the interest of preserving colour contrast accessibility
while still supporting a useful built-in tool.
</p>

<p>
If there actually is a way to avoid such a course of action, without
prejudice to the accessibility standard of this project, then please
report as much or send patches (see <a href="#h:9c3cd842-14b7-44d7-84b2-a5c8bc3fc3b1">Contributing</a>).
</p>
</div>
</div>
</div>

<div id="outline-container-org92d0c5c" class="outline-2">
<h2 id="h:9c3cd842-14b7-44d7-84b2-a5c8bc3fc3b1"><span class="section-number-2">8</span> Contributing</h2>
<div class="outline-text-2" id="text-h:9c3cd842-14b7-44d7-84b2-a5c8bc3fc3b1">
<p>
This section documents the canonical sources of the themes and the ways
in which you can contribute to their ongoing development.
</p>
</div>

<div id="outline-container-org4c08f5d" class="outline-3">
<h3 id="h:89504f1c-c9a1-4bd9-ab39-78fd0eddb47c"><span class="section-number-3">8.1</span> Sources of the themes</h3>
<div class="outline-text-3" id="text-h:89504f1c-c9a1-4bd9-ab39-78fd0eddb47c">
<p>
The <code>modus-operandi</code> and <code>modus-vivendi</code> themes are built into Emacs.
Currently they are in the project&rsquo;s <code>master</code> branch, which is tracking the
nominal development release target of <code>28.0.50</code>.
</p>

<p>
The source code of the themes is <a href="https://gitlab.com/protesilaos/modus-themes/">available on Gitlab</a>, for the time
being.  A <a href="https://github.com/protesilaos/modus-themes/">mirror on Github</a> is also on offer.
</p>

<p>
An HTML version of this manual is available as an extension to the
<a href="https://protesilaos.com/modus-themes/">author&rsquo;s personal website</a> (does not rely on any non-free code).
</p>
</div>
</div>

<div id="outline-container-org83721a3" class="outline-3">
<h3 id="h:6536c8d5-3f98-43ab-a787-b94120e735e8"><span class="section-number-3">8.2</span> Issues you can help with</h3>
<div class="outline-text-3" id="text-h:6536c8d5-3f98-43ab-a787-b94120e735e8">
<p>
A few tasks you can help with:
</p>

<ul class="org-ul">
<li>Suggest refinements to packages that are covered.</li>
<li>Report packages not covered thus far.</li>
<li>Report bugs, inconsistencies, shortcomings.</li>
<li>Help expand the documentation of covered-but-not-styled packages.</li>
<li>Suggest refinements to the colour palette.</li>
<li>Help expand this document or any other piece of documentation.</li>
<li>Merge requests for code refinements.</li>
</ul>

<p>
<a href="#h:111773e2-f26f-4b68-8c4f-9794ca6b9633">Patches require copyright assignment to the FSF</a>.
</p>

<p>
It would be great if your feedback also includes some screenshots, GIFs,
or short videos, as well as further instructions to reproduce a given
setup.  Though this is not a requirement.
</p>

<p>
Whatever you do, bear in mind the overarching objective of the Modus
themes: to keep a contrast ratio that is greater or equal to 7:1 between
background and foreground colours.  If a compromise is ever necessary
between aesthetics and accessibility, it shall always be made in the
interest of the latter.
</p>
</div>
</div>

<div id="outline-container-org96a1921" class="outline-3">
<h3 id="h:111773e2-f26f-4b68-8c4f-9794ca6b9633"><span class="section-number-3">8.3</span> Patches require copyright assignment to the FSF</h3>
<div class="outline-text-3" id="text-h:111773e2-f26f-4b68-8c4f-9794ca6b9633">
<p>
Code contributions are most welcome.  For any major edit (more than 15
lines, or so, in aggregate per person), you need to make a copyright
assignment to the Free Software Foundation.  This is necessary because
the themes are part of the upstream Emacs distribution: the FSF must at
all times be in a position to enforce the GNU General Public License.
</p>

<p>
Copyright assignment is a simple process.  Check the <a href="https://git.savannah.gnu.org/cgit/gnulib.git/tree/doc/Copyright/request-assign.future">request form</a>.  You
must write an email to the address mentioned in the form and then wait
for the FSF to send you a legal agreement.  Sign the document and file
it back to them.  This could all happen via email and take about a week.
</p>

<p>
You are encouraged to go through this process.  You only need to do it
once.  It will allow you to make contributions to Emacs in general.
</p>
</div>
</div>
</div>

<div id="outline-container-orgdfc6f24" class="outline-2">
<h2 id="h:95c3da23-217f-404e-b5f3-56c75760ebcf"><span class="section-number-2">9</span> Acknowledgements</h2>
<div class="outline-text-2" id="text-h:95c3da23-217f-404e-b5f3-56c75760ebcf">
<p>
The Modus themes are a collective effort.  Every contribution counts.
</p>

<p>
Author/maintainer:
</p>

<ul class="org-ul">
<li>Protesilaos Stavrou</li>
</ul>

<p>
Code contributions:
</p>

<ul class="org-ul">
<li>Anders Johansson</li>
<li>Basil L. Contovounisios</li>
<li>Matthew Stevenson</li>
</ul>

<p>
Ideas and user feedback:
</p>

<ul class="org-ul">
<li>Aaron Jensen</li>
<li>Adam Spiers</li>
<li>Alex Peitsinis</li>
<li>Alexey Shmalko</li>
<li>Anders Johansson</li>
<li>André Alexandre Gomes</li>
<li>Arif Rezai</li>
<li>Basil L. Contovounisios</li>
<li>Damien Cassou</li>
<li>David Edmondson</li>
<li>Davor Rotim</li>
<li>Divan Santana</li>
<li>Gerry Agbobada</li>
<li>Gianluca Recchia</li>
<li>Len Trigg</li>
<li>Manuel Uberti</li>
<li>Mark Burton</li>
<li>Michael Goldenberg</li>
<li>Murilo Pereira</li>
<li>Nicolas De Jaeghere</li>
<li>Pierre Téchoueyres</li>
<li>Ryan Phillips</li>
<li>Shreyas Ragavan</li>
<li>Thibaut Verron</li>
<li>Trey Merkley</li>
<li>Uri Sharf</li>
<li>User &ldquo;Ben&rdquo;</li>
<li>User &ldquo;Fourchaux&rdquo;</li>
<li>User &ldquo;Fredrik&rdquo;</li>
<li>User &ldquo;Moesasji&rdquo;</li>
<li>User &ldquo;TheBlob42&rdquo;</li>
<li>User &ldquo;dinko&rdquo;</li>
<li>User &ldquo;doolio&rdquo;</li>
<li>User &ldquo;okamsn&rdquo;</li>
<li>User &ldquo;tycho garen&rdquo;</li>
<li>Vincent Foley</li>
</ul>

<p>
Packaging:
</p>

<ul class="org-ul">
<li>Dhavan Vaidya (Debian)</li>
<li>Stefan Kangas (core Emacs)</li>
<li>Stefan Monnier (GNU Elpa)</li>
</ul>

<p>
Inspiration for certain features:
</p>

<ul class="org-ul">
<li>Fabrice Niessen (leuven-theme)</li>
<li>Bozhidar Batsov (zenburn-theme)</li>
</ul>
</div>
</div>

<div id="outline-container-org7a268e3" class="outline-2">
<h2 id="h:13752581-4378-478c-af17-165b6e76bc1b"><span class="section-number-2">10</span> Meta</h2>
<div class="outline-text-2" id="text-h:13752581-4378-478c-af17-165b6e76bc1b">
<p>
If you are curious about the principles that govern the development of
this project read the essay <a href="https://protesilaos.com/codelog/2020-03-17-design-modus-themes-emacs/">On the design of the Modus themes</a>
(2020-03-17).
</p>

<p>
Here are some more publications for those interested in the kind of work
that goes into this project:
</p>

<ul class="org-ul">
<li><a href="https://protesilaos.com/codelog/2020-05-10-modus-operandi-palette-review/">Modus Operandi theme subtle palette review</a> (2020-05-10)</li>
<li><a href="https://protesilaos.com/codelog/2020-06-13-modus-vivendi-palette-review/">Modus Vivendi theme subtle palette review</a> (2020-06-13)</li>
<li><a href="https://protesilaos.com/codelog/2020-07-04-modus-themes-faint-colours/">Modus themes: new &ldquo;faint syntax&rdquo; option</a> (2020-07-04)</li>
<li><a href="https://protesilaos.com/codelog/2020-07-08-modus-themes-nuanced-colours/">Modus themes: major review of &ldquo;nuanced&rdquo; colours</a> (2020-07-08)</li>
</ul>
</div>
</div>

<div id="outline-container-org58abdbe" class="outline-2">
<h2 id="h:21adb7c8-2208-41e8-803c-052e42e2c05d"><span class="section-number-2">11</span> External projects (ports)</h2>
<div class="outline-text-2" id="text-h:21adb7c8-2208-41e8-803c-052e42e2c05d">
<p>
The present section documents projects that extend the scope of the
Modus themes.  The following list will be updated whenever relevant
information is brought to my attention.  If you already have or intend
to produce such a port, feel welcome <a href="https://protesilaos.com/contact">to contact me</a>.
</p>

<dl class="org-dl">
<dt>Modus exporter</dt><dd>This is <a href="https://github.com/polaris64/modus-exporter">an Elisp library written by Simon Pugnet</a>.
Licensed under the terms of the GNU General Public License.  It is
meant to capture the colour values of the active Modus theme (Operandi
or Vivendi) and output it as a valid theme for some other application.</dd>
</dl>
</div>
</div>

<div id="outline-container-orgf1b3eaa" class="outline-2">
<h2 id="h:3077c3d2-7f90-4228-8f0a-73124f4026f6"><span class="section-number-2">12</span> GNU Free Documentation License</h2>
<div class="outline-text-2" id="text-h:3077c3d2-7f90-4228-8f0a-73124f4026f6">
<div class="org-src-container">
<pre class="src src-txt">                GNU Free Documentation License
                 Version 1.3, 3 November 2008


 Copyright (C) 2000, 2001, 2002, 2007, 2008 Free Software Foundation, Inc.
     &lt;https://fsf.org/&gt;
 Everyone is permitted to copy and distribute verbatim copies
 of this license document, but changing it is not allowed.

0. PREAMBLE

The purpose of this License is to make a manual, textbook, or other
functional and useful document "free" in the sense of freedom: to
assure everyone the effective freedom to copy and redistribute it,
with or without modifying it, either commercially or noncommercially.
Secondarily, this License preserves for the author and publisher a way
to get credit for their work, while not being considered responsible
for modifications made by others.

This License is a kind of "copyleft", which means that derivative
works of the document must themselves be free in the same sense.  It
complements the GNU General Public License, which is a copyleft
license designed for free software.

We have designed this License in order to use it for manuals for free
software, because free software needs free documentation: a free
program should come with manuals providing the same freedoms that the
software does.  But this License is not limited to software manuals;
it can be used for any textual work, regardless of subject matter or
whether it is published as a printed book.  We recommend this License
principally for works whose purpose is instruction or reference.


1. APPLICABILITY AND DEFINITIONS

This License applies to any manual or other work, in any medium, that
contains a notice placed by the copyright holder saying it can be
distributed under the terms of this License.  Such a notice grants a
world-wide, royalty-free license, unlimited in duration, to use that
work under the conditions stated herein.  The "Document", below,
refers to any such manual or work.  Any member of the public is a
licensee, and is addressed as "you".  You accept the license if you
copy, modify or distribute the work in a way requiring permission
under copyright law.

A "Modified Version" of the Document means any work containing the
Document or a portion of it, either copied verbatim, or with
modifications and/or translated into another language.

A "Secondary Section" is a named appendix or a front-matter section of
the Document that deals exclusively with the relationship of the
publishers or authors of the Document to the Document's overall
subject (or to related matters) and contains nothing that could fall
directly within that overall subject.  (Thus, if the Document is in
part a textbook of mathematics, a Secondary Section may not explain
any mathematics.)  The relationship could be a matter of historical
connection with the subject or with related matters, or of legal,
commercial, philosophical, ethical or political position regarding
them.

The "Invariant Sections" are certain Secondary Sections whose titles
are designated, as being those of Invariant Sections, in the notice
that says that the Document is released under this License.  If a
section does not fit the above definition of Secondary then it is not
allowed to be designated as Invariant.  The Document may contain zero
Invariant Sections.  If the Document does not identify any Invariant
Sections then there are none.

The "Cover Texts" are certain short passages of text that are listed,
as Front-Cover Texts or Back-Cover Texts, in the notice that says that
the Document is released under this License.  A Front-Cover Text may
be at most 5 words, and a Back-Cover Text may be at most 25 words.

A "Transparent" copy of the Document means a machine-readable copy,
represented in a format whose specification is available to the
general public, that is suitable for revising the document
straightforwardly with generic text editors or (for images composed of
pixels) generic paint programs or (for drawings) some widely available
drawing editor, and that is suitable for input to text formatters or
for automatic translation to a variety of formats suitable for input
to text formatters.  A copy made in an otherwise Transparent file
format whose markup, or absence of markup, has been arranged to thwart
or discourage subsequent modification by readers is not Transparent.
An image format is not Transparent if used for any substantial amount
of text.  A copy that is not "Transparent" is called "Opaque".

Examples of suitable formats for Transparent copies include plain
ASCII without markup, Texinfo input format, LaTeX input format, SGML
or XML using a publicly available DTD, and standard-conforming simple
HTML, PostScript or PDF designed for human modification.  Examples of
transparent image formats include PNG, XCF and JPG.  Opaque formats
include proprietary formats that can be read and edited only by
proprietary word processors, SGML or XML for which the DTD and/or
processing tools are not generally available, and the
machine-generated HTML, PostScript or PDF produced by some word
processors for output purposes only.

The "Title Page" means, for a printed book, the title page itself,
plus such following pages as are needed to hold, legibly, the material
this License requires to appear in the title page.  For works in
formats which do not have any title page as such, "Title Page" means
the text near the most prominent appearance of the work's title,
preceding the beginning of the body of the text.

The "publisher" means any person or entity that distributes copies of
the Document to the public.

A section "Entitled XYZ" means a named subunit of the Document whose
title either is precisely XYZ or contains XYZ in parentheses following
text that translates XYZ in another language.  (Here XYZ stands for a
specific section name mentioned below, such as "Acknowledgements",
"Dedications", "Endorsements", or "History".)  To "Preserve the Title"
of such a section when you modify the Document means that it remains a
section "Entitled XYZ" according to this definition.

The Document may include Warranty Disclaimers next to the notice which
states that this License applies to the Document.  These Warranty
Disclaimers are considered to be included by reference in this
License, but only as regards disclaiming warranties: any other
implication that these Warranty Disclaimers may have is void and has
no effect on the meaning of this License.

2. VERBATIM COPYING

You may copy and distribute the Document in any medium, either
commercially or noncommercially, provided that this License, the
copyright notices, and the license notice saying this License applies
to the Document are reproduced in all copies, and that you add no
other conditions whatsoever to those of this License.  You may not use
technical measures to obstruct or control the reading or further
copying of the copies you make or distribute.  However, you may accept
compensation in exchange for copies.  If you distribute a large enough
number of copies you must also follow the conditions in section 3.

You may also lend copies, under the same conditions stated above, and
you may publicly display copies.


3. COPYING IN QUANTITY

If you publish printed copies (or copies in media that commonly have
printed covers) of the Document, numbering more than 100, and the
Document's license notice requires Cover Texts, you must enclose the
copies in covers that carry, clearly and legibly, all these Cover
Texts: Front-Cover Texts on the front cover, and Back-Cover Texts on
the back cover.  Both covers must also clearly and legibly identify
you as the publisher of these copies.  The front cover must present
the full title with all words of the title equally prominent and
visible.  You may add other material on the covers in addition.
Copying with changes limited to the covers, as long as they preserve
the title of the Document and satisfy these conditions, can be treated
as verbatim copying in other respects.

If the required texts for either cover are too voluminous to fit
legibly, you should put the first ones listed (as many as fit
reasonably) on the actual cover, and continue the rest onto adjacent
pages.

If you publish or distribute Opaque copies of the Document numbering
more than 100, you must either include a machine-readable Transparent
copy along with each Opaque copy, or state in or with each Opaque copy
a computer-network location from which the general network-using
public has access to download using public-standard network protocols
a complete Transparent copy of the Document, free of added material.
If you use the latter option, you must take reasonably prudent steps,
when you begin distribution of Opaque copies in quantity, to ensure
that this Transparent copy will remain thus accessible at the stated
location until at least one year after the last time you distribute an
Opaque copy (directly or through your agents or retailers) of that
edition to the public.

It is requested, but not required, that you contact the authors of the
Document well before redistributing any large number of copies, to
give them a chance to provide you with an updated version of the
Document.


4. MODIFICATIONS

You may copy and distribute a Modified Version of the Document under
the conditions of sections 2 and 3 above, provided that you release
the Modified Version under precisely this License, with the Modified
Version filling the role of the Document, thus licensing distribution
and modification of the Modified Version to whoever possesses a copy
of it.  In addition, you must do these things in the Modified Version:

A. Use in the Title Page (and on the covers, if any) a title distinct
   from that of the Document, and from those of previous versions
   (which should, if there were any, be listed in the History section
   of the Document).  You may use the same title as a previous version
   if the original publisher of that version gives permission.
B. List on the Title Page, as authors, one or more persons or entities
   responsible for authorship of the modifications in the Modified
   Version, together with at least five of the principal authors of the
   Document (all of its principal authors, if it has fewer than five),
   unless they release you from this requirement.
C. State on the Title page the name of the publisher of the
   Modified Version, as the publisher.
D. Preserve all the copyright notices of the Document.
E. Add an appropriate copyright notice for your modifications
   adjacent to the other copyright notices.
F. Include, immediately after the copyright notices, a license notice
   giving the public permission to use the Modified Version under the
   terms of this License, in the form shown in the Addendum below.
G. Preserve in that license notice the full lists of Invariant Sections
   and required Cover Texts given in the Document's license notice.
H. Include an unaltered copy of this License.
I. Preserve the section Entitled "History", Preserve its Title, and add
   to it an item stating at least the title, year, new authors, and
   publisher of the Modified Version as given on the Title Page.  If
   there is no section Entitled "History" in the Document, create one
   stating the title, year, authors, and publisher of the Document as
   given on its Title Page, then add an item describing the Modified
   Version as stated in the previous sentence.
J. Preserve the network location, if any, given in the Document for
   public access to a Transparent copy of the Document, and likewise
   the network locations given in the Document for previous versions
   it was based on.  These may be placed in the "History" section.
   You may omit a network location for a work that was published at
   least four years before the Document itself, or if the original
   publisher of the version it refers to gives permission.
K. For any section Entitled "Acknowledgements" or "Dedications",
   Preserve the Title of the section, and preserve in the section all
   the substance and tone of each of the contributor acknowledgements
   and/or dedications given therein.
L. Preserve all the Invariant Sections of the Document,
   unaltered in their text and in their titles.  Section numbers
   or the equivalent are not considered part of the section titles.
M. Delete any section Entitled "Endorsements".  Such a section
   may not be included in the Modified Version.
N. Do not retitle any existing section to be Entitled "Endorsements"
   or to conflict in title with any Invariant Section.
O. Preserve any Warranty Disclaimers.

If the Modified Version includes new front-matter sections or
appendices that qualify as Secondary Sections and contain no material
copied from the Document, you may at your option designate some or all
of these sections as invariant.  To do this, add their titles to the
list of Invariant Sections in the Modified Version's license notice.
These titles must be distinct from any other section titles.

You may add a section Entitled "Endorsements", provided it contains
nothing but endorsements of your Modified Version by various
parties--for example, statements of peer review or that the text has
been approved by an organization as the authoritative definition of a
standard.

You may add a passage of up to five words as a Front-Cover Text, and a
passage of up to 25 words as a Back-Cover Text, to the end of the list
of Cover Texts in the Modified Version.  Only one passage of
Front-Cover Text and one of Back-Cover Text may be added by (or
through arrangements made by) any one entity.  If the Document already
includes a cover text for the same cover, previously added by you or
by arrangement made by the same entity you are acting on behalf of,
you may not add another; but you may replace the old one, on explicit
permission from the previous publisher that added the old one.

The author(s) and publisher(s) of the Document do not by this License
give permission to use their names for publicity for or to assert or
imply endorsement of any Modified Version.


5. COMBINING DOCUMENTS

You may combine the Document with other documents released under this
License, under the terms defined in section 4 above for modified
versions, provided that you include in the combination all of the
Invariant Sections of all of the original documents, unmodified, and
list them all as Invariant Sections of your combined work in its
license notice, and that you preserve all their Warranty Disclaimers.

The combined work need only contain one copy of this License, and
multiple identical Invariant Sections may be replaced with a single
copy.  If there are multiple Invariant Sections with the same name but
different contents, make the title of each such section unique by
adding at the end of it, in parentheses, the name of the original
author or publisher of that section if known, or else a unique number.
Make the same adjustment to the section titles in the list of
Invariant Sections in the license notice of the combined work.

In the combination, you must combine any sections Entitled "History"
in the various original documents, forming one section Entitled
"History"; likewise combine any sections Entitled "Acknowledgements",
and any sections Entitled "Dedications".  You must delete all sections
Entitled "Endorsements".


6. COLLECTIONS OF DOCUMENTS

You may make a collection consisting of the Document and other
documents released under this License, and replace the individual
copies of this License in the various documents with a single copy
that is included in the collection, provided that you follow the rules
of this License for verbatim copying of each of the documents in all
other respects.

You may extract a single document from such a collection, and
distribute it individually under this License, provided you insert a
copy of this License into the extracted document, and follow this
License in all other respects regarding verbatim copying of that
document.


7. AGGREGATION WITH INDEPENDENT WORKS

A compilation of the Document or its derivatives with other separate
and independent documents or works, in or on a volume of a storage or
distribution medium, is called an "aggregate" if the copyright
resulting from the compilation is not used to limit the legal rights
of the compilation's users beyond what the individual works permit.
When the Document is included in an aggregate, this License does not
apply to the other works in the aggregate which are not themselves
derivative works of the Document.

If the Cover Text requirement of section 3 is applicable to these
copies of the Document, then if the Document is less than one half of
the entire aggregate, the Document's Cover Texts may be placed on
covers that bracket the Document within the aggregate, or the
electronic equivalent of covers if the Document is in electronic form.
Otherwise they must appear on printed covers that bracket the whole
aggregate.


8. TRANSLATION

Translation is considered a kind of modification, so you may
distribute translations of the Document under the terms of section 4.
Replacing Invariant Sections with translations requires special
permission from their copyright holders, but you may include
translations of some or all Invariant Sections in addition to the
original versions of these Invariant Sections.  You may include a
translation of this License, and all the license notices in the
Document, and any Warranty Disclaimers, provided that you also include
the original English version of this License and the original versions
of those notices and disclaimers.  In case of a disagreement between
the translation and the original version of this License or a notice
or disclaimer, the original version will prevail.

If a section in the Document is Entitled "Acknowledgements",
"Dedications", or "History", the requirement (section 4) to Preserve
its Title (section 1) will typically require changing the actual
title.


9. TERMINATION

You may not copy, modify, sublicense, or distribute the Document
except as expressly provided under this License.  Any attempt
otherwise to copy, modify, sublicense, or distribute it is void, and
will automatically terminate your rights under this License.

However, if you cease all violation of this License, then your license
from a particular copyright holder is reinstated (a) provisionally,
unless and until the copyright holder explicitly and finally
terminates your license, and (b) permanently, if the copyright holder
fails to notify you of the violation by some reasonable means prior to
60 days after the cessation.

Moreover, your license from a particular copyright holder is
reinstated permanently if the copyright holder notifies you of the
violation by some reasonable means, this is the first time you have
received notice of violation of this License (for any work) from that
copyright holder, and you cure the violation prior to 30 days after
your receipt of the notice.

Termination of your rights under this section does not terminate the
licenses of parties who have received copies or rights from you under
this License.  If your rights have been terminated and not permanently
reinstated, receipt of a copy of some or all of the same material does
not give you any rights to use it.


10. FUTURE REVISIONS OF THIS LICENSE

The Free Software Foundation may publish new, revised versions of the
GNU Free Documentation License from time to time.  Such new versions
will be similar in spirit to the present version, but may differ in
detail to address new problems or concerns.  See
https://www.gnu.org/licenses/.

Each version of the License is given a distinguishing version number.
If the Document specifies that a particular numbered version of this
License "or any later version" applies to it, you have the option of
following the terms and conditions either of that specified version or
of any later version that has been published (not as a draft) by the
Free Software Foundation.  If the Document does not specify a version
number of this License, you may choose any version ever published (not
as a draft) by the Free Software Foundation.  If the Document
specifies that a proxy can decide which future versions of this
License can be used, that proxy's public statement of acceptance of a
version permanently authorizes you to choose that version for the
Document.

11. RELICENSING

"Massive Multiauthor Collaboration Site" (or "MMC Site") means any
World Wide Web server that publishes copyrightable works and also
provides prominent facilities for anybody to edit those works.  A
public wiki that anybody can edit is an example of such a server.  A
"Massive Multiauthor Collaboration" (or "MMC") contained in the site
means any set of copyrightable works thus published on the MMC site.

"CC-BY-SA" means the Creative Commons Attribution-Share Alike 3.0
license published by Creative Commons Corporation, a not-for-profit
corporation with a principal place of business in San Francisco,
California, as well as future copyleft versions of that license
published by that same organization.

"Incorporate" means to publish or republish a Document, in whole or in
part, as part of another Document.

An MMC is "eligible for relicensing" if it is licensed under this
License, and if all works that were first published under this License
somewhere other than this MMC, and subsequently incorporated in whole or
in part into the MMC, (1) had no cover texts or invariant sections, and
(2) were thus incorporated prior to November 1, 2008.

The operator of an MMC Site may republish an MMC contained in the site
under CC-BY-SA on the same site at any time before August 1, 2009,
provided the MMC is eligible for relicensing.


ADDENDUM: How to use this License for your documents

To use this License in a document you have written, include a copy of
the License in the document and put the following copyright and
license notices just after the title page:

    Copyright (c)  YEAR  YOUR NAME.
    Permission is granted to copy, distribute and/or modify this document
    under the terms of the GNU Free Documentation License, Version 1.3
    or any later version published by the Free Software Foundation;
    with no Invariant Sections, no Front-Cover Texts, and no Back-Cover Texts.
    A copy of the license is included in the section entitled "GNU
    Free Documentation License".

If you have Invariant Sections, Front-Cover Texts and Back-Cover Texts,
replace the "with...Texts." line with this:

    with the Invariant Sections being LIST THEIR TITLES, with the
    Front-Cover Texts being LIST, and with the Back-Cover Texts being LIST.

If you have Invariant Sections without Cover Texts, or some other
combination of the three, merge those two alternatives to suit the
situation.

If your document contains nontrivial examples of program code, we
recommend releasing these examples in parallel under your choice of
free software license, such as the GNU General Public License,
to permit their use in free software.
</pre>
</div>
</div>
</div>
<div id="footnotes">
<h2 class="footnotes">Footnotes: </h2>
<div id="text-footnotes">

<div class="footdef"><sup><a id="fn.1" class="footnum" href="#fnr.1">1</a></sup> <div class="footpara"><p class="footpara">Contributed on Reddit by user b3n
<a href="https://www.reddit.com/r/emacs/comments/gdtqov/weekly_tipstricketc_thread/fq9186h/">https://www.reddit.com/r/emacs/comments/gdtqov/weekly_tipstricketc_thread/fq9186h/</a>.</p></div></div>

<div class="footdef"><sup><a id="fn.2" class="footnum" href="#fnr.2">2</a></sup> <div class="footpara"><p class="footpara">Contributed directly by André Alexandre Gomes <a href="https://gitlab.com/aadcg">https://gitlab.com/aadcg</a>.</p></div></div>

<div class="footdef"><sup><a id="fn.3" class="footnum" href="#fnr.3">3</a></sup> <div class="footpara"><p class="footpara">The <code>defmacro</code> and <code>dolist</code>
method was contributed on Reddit by user b3n
<a href="https://www.reddit.com/r/emacs/comments/gqsz8u/weekly_tipstricketc_thread/fsfakhg/">https://www.reddit.com/r/emacs/comments/gqsz8u/weekly_tipstricketc_thread/fsfakhg/</a>.</p></div></div>

<div class="footdef"><sup><a id="fn.4" class="footnum" href="#fnr.4">4</a></sup> <div class="footpara"><p class="footpara"><code>:height</code>
values do not need to be rounded to multiples of ten: the likes of <code>115</code>
are perfectly valid—some typefaces will change to account for those
finer increments.</p></div></div>

<div class="footdef"><sup><a id="fn.5" class="footnum" href="#fnr.5">5</a></sup> <div class="footpara"><p class="footpara">Has the benefit of accepting <code>fontconfig</code> parameters
(GNU/Linux), such as <code>"DejaVu Sans
Mono-11:hintstyle=hintslight:autohint=false"</code>.
<a href="https://www.freedesktop.org/software/fontconfig/fontconfig-user.html">https://www.freedesktop.org/software/fontconfig/fontconfig-user.html</a></p></div></div>


</div>
</div>
