---
layout: index
title: "News and announcements"
subtitle: "General updates about protesilaos.com"
excerpt: "General updates about the website of Protesilaos Stavrou."
index-feed:
  text: General news
  url: "/news.xml"
permalink: /news/
---
{% assign news = site.news | sort: 'date' | reverse %}

<div class="index index-blog">

    <ul>
    {% for new in news %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ new.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ new.url | relative_url }}">
                <span class="index-blog-post-heading">{{ new.title }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>

</div>
