---
layout: index
title: "Political writings"
subtitle: "Analyses on political theory and current issues"
excerpt: "Analyses on political theory and current issues"
index-feed:
  text: Political writings
  url: "/politics.xml"
permalink: /politics/
redirect_from:
  - /blog/
  - /blog
---

<div class="index index-blog">

    <ul>
	{% assign politics = site.politics | sort: 'date' | reverse %}
    {% for post in politics %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ post.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ post.url | relative_url }}">
                <span class="index-blog-post-heading">{{ post.title }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>

    <div class="button index-blog-redirection-button">
        <a href="/blog-archive/">Old blog archive</a>
    </div>
</div>
