---
title: "Prot16 syntax themes"
subtitle: "Colour schemes for highlighting code syntax"
excerpt: "Colour schemes for highlighting code syntax"
layout: index
permalink: /prot16/
redirect_from:
  - /schemes/
---

<div class="index index-blog">

	<p> <em>Prot16</em> is a collection of colour schemes following the
	design philosophy of Ethan Schoonover's <em>Solarized</em>. Each
	scheme consists of 8 base values, divided by two groups into 'light'
	and 'dark', plus 8 accent values which remain constant across light
	and dark variations of an applied theme. The idea is to easily
	transition from light to dark while retaining the same feel. The
	accents are variants of red, orange, yellow, green, cyan, blue,
	violet, and magenta.</p>

	<p>This is an older, albeit perfectly stable, project of mine. For
	my latest endeavour on the matter, check the <a
	href="/tempus-themes/">Tempus themes</a>.  </p>

	<h2 class="index-blog-section-heading">Prot16 item pages (A-Z)</h2>

	<div class="index-flex">
	{% assign schemes = site.data.prot16 | sort: 'name' %}
	{% for scheme in schemes %}
		<div class="index-flex-item">
			<a class="index-blog-post-heading" href="{{ scheme.url | prepend: '/' }}">
				{{ scheme.name }}
			</a>

			<div style="letter-spacing: -1px">
				<small style="{{ scheme.palette.dbg  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.dhl  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.dt2  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.dt1  | prepend: 'color: #' }}">███</small>
				<br/>
				<small style="{{ scheme.palette.lbg  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.lhl  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.lt2  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.lt1  | prepend: 'color: #' }}">███</small>
				<br/>
				<small style="{{ scheme.palette.red | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.ora | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.yel | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.gre | prepend: 'color: #' }}">███</small>
				<br/>
				<small style="{{ scheme.palette.cya | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.blu | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.vio | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.palette.mag | prepend: 'color: #' }}">███</small>
			</div>
		</div>
	{% endfor %}
	</div>

</div>
