---
layout: index
title: "Links to external code repositories"
subtitle: "Selected projects I develop, maintain or contribute to"
excerpt: "Selected external git repositories with some of my projects on GitHub and GitLab."
permalink: /repos/
---

<div class="index index-blog">

	{% assign gitprojects = site.data.gitprojects | sort: 'name' %}
	<ul>
	{% for gitproject in gitprojects %}
		<li>
			<a href="{{ gitproject.url }}">{{ gitproject.name }}</a> ({{ gitproject.host }} | {{ gitproject.status }}). <span>{{ gitproject.description }}</span>
		</li>
	{% endfor %}
	</ul>

</div>
