---
layout: index
title: "Seminars on politics"
subtitle: "Presentations on current issues and theoretical themes"
excerpt: "Seminar series on European Union politics and other issues of political theory."
index-feed:
  text: Seminars
  url: "/seminars.xml"
permalink: /seminars/
---

{% assign seminar_theme = site.data.seminar-themes %}
{% assign seminars = site.seminars | sort: 'date' | reverse %}

<div class="index index-blog">

    <p class="info index-notification">
        For my political writings, refer to the <a href="/politics/">main politics blog</a>.
    </p>


    {% for i in seminar_theme %}
    <h4>{{ i.theme }}</h4>
    <ul>
        {% for seminar in seminars %}
        {% if i.theme == seminar.lecturetheme %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ seminar.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ seminar.url | relative_url }}">
                <span class="index-blog-post-heading">{{ seminar.title }} ({{ seminar.lecture }})</span>
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <br/>
    {% endfor %}
</div>
