---
layout: index
permalink: /tempus-themes/
title: "Tempus Themes project"
subtitle: "Accessible themes for terminals and text editors"
excerpt: "Accessible themes for terminals and text editors"
---

<div class="index index-blog">

    <p>
        {{ site.data.text.tempus.description }}
    </p>

    <h2 class="index-blog-section-heading">Item pages (A-Z)</h2>

    <div class="index-flex">
    {% assign schemes = site.data.tempus-themes | sort: 'name' %}
    {% for scheme in schemes %}
        <div class="index-flex-item">
            <a class="index-blog-post-heading" href="{{ scheme.slug | prepend: '/' }}">
				{{ scheme.name }}
            </a>

			<div style="letter-spacing: -1px">
				<small style="{{ scheme.col0  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col1  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col2  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col3  | prepend: 'color: #' }}">███</small>
				<br/>                                                      
				<small style="{{ scheme.col4  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col5  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col6  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col7  | prepend: 'color: #' }}">███</small>
				<br/>                                                      
				<small style="{{ scheme.col8  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col9  | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col10 | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col11 | prepend: 'color: #' }}">███</small>
				<br/>                                                      
				<small style="{{ scheme.col12 | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col13 | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col14 | prepend: 'color: #' }}">███</small>
				<small style="{{ scheme.col15 | prepend: 'color: #' }}">███</small>
			</div>
        </div>
    {% endfor %}
    </div>

</div>
