<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>

        {% include infobar.html %}

        <main id="content" aria-label="Content">
            <div class="container">
                {{ content }}
            </div>
        </main>

        {% include footer.html %}

    </body>
</html>
