---
layout: default
---

<div class="post">

	<div class="post-header">
		<h1>{{ page.title }}</h1>

		{% if page.subtitle %}
			<h2 class="subtitle"> {{ page.subtitle }}</h2>
		{% endif %}

		{% if page.index-feed %}
			<div class="index-header-meta">

				<div class="index-rss">
					<a class="index-rss-feed-text" href="{{ page.index-feed.url }}">
						<span class="index-rss-feed-label">[feed]</span> {{ page.index-feed.text }}
					</a>

					<small class="index-rss-feed-text-help">
						<a href="/feeds/">What is this?</a>
					</small>
				</div>

			</div>
		{% endif %}

	</div>

	<div class="index-wrapper">
		{{ content }}
	</div>

</div>

