---
layout: default
---
<article class="post">

    <div class="post-inner">
        <div class="post-header">

            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
                <h2 class="subtitle">{{ page.subtitle }}</h2>
            {% endif %}

            <div class="post-header-meta">
               <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date_format }}</time>
            </div>

        </div>

        <div class="post-body">
            {{ content }}
        </div>

    </div>

</article>

<div class="post-footer">

  <div class="post-footer-inner">

    <div id="book-nextprev" class="nextprev clearfix">
      <div class="nextprev-item">
        <span class="nextprev-link">See all:</span> <a href="/books/">Books and publications</a>
      </div>
    </div>

  </div>

</div>
