---
layout: default
---
<article class="post">

    <div class="post-inner">

        <div class="post-header">
            <h1 class="h1-plus">
                {{ page.title }}
            </h1>
        </div>

		<div class="post-body">
			{{ content }}
		</div>

    </div>

</article>
