---
layout: default
---
<article class="post">

    <div class="post-inner">

        <div class="post-header">
            <h1>{{ page.title }}</h1>
            <div class="post-header-meta">
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date_format }}</time>
            </div>
        </div>

        <div class="post-body">
            {{ content }}
        </div>

    </div>

</article>

<div class="post-footer">
    <div class="post-footer-inner">
        {% include nextprev.html %}
    </div>
</div>
