---
layout: default
---
<article class="post">

	<div class="post-inner">

		<div class="post-header">
			<h1>{{ page.title }}</h1>
			{% if page.subtitle %}
				<h2 class="subtitle">{{ page.subtitle }}</h2>
			{% endif %}
			<div class="post-header-meta">
				<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date_format }}</time>
			</div>
		</div>

		<div class="post-body">

			<div class="medialayer">
				<div class="mediaframe">
					<div class="mediawrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.mediaid }}?rel=0&amp;showinfo=0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			{{ content }}
		</div>

	</div>

</article>

<div class="post-footer">

	<div class="post-footer-inner">
		{% include nextprev.html %}
	</div>

</div>
